<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>btn_power_ani1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>189</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>16.5</real>
			<key>originalWidth</key>
			<integer>1024</integer>
			<key>originalHeight</key>
			<integer>768</integer>
		</dict>
		<key>btn_power_ani2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>191</integer>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>189</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>16.5</real>
			<key>originalWidth</key>
			<integer>1024</integer>
			<key>originalHeight</key>
			<integer>768</integer>
		</dict>
		<key>btn_power_ani3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>381</integer>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>189</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>16.5</real>
			<key>originalWidth</key>
			<integer>1024</integer>
			<key>originalHeight</key>
			<integer>768</integer>
		</dict>
	</dict>
</dict>
</plist>