<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceList</key>
	<dict>
		<key>Default</key>
		<string>HD</string>
		<key>A500</key>
		<string>HD</string>
		<key>A501</key>
		<string>HD</string>
		<key>Kindle Fire</key>
		<string>HD</string>
		<key>GT-I9300</key>
		<string>HD</string>
		<key>GT-I9300T</key>
		<string>HD</string>
		<key>GT-P6810</key>
		<string>HD</string>
		<key>GT-P7300</key>
		<string>HD</string>
		<key>GT-P6210</key>
		<string>HD</string>
		<key>GT-N7000</key>
		<string>HD</string>
		<key>GT-I9228</key>
		<string>HD</string>
		<key>GT-N7100</key>
		<string>HD</string>
		<key>GT-N7102</key>
		<string>HD</string>
		<key>GT-N7105</key>
		<string>HD</string>
		<key>GT-N7108</key>
		<string>HD</string>
		<key>GT-I9000</key>
		<string>HD</string>
		<key>GT-I9305</key>
		<string>HD</string>
		<key>GT-I9308</key>
		<string>HD</string>
		<key>GT-P7501</key>
		<string>HD</string>
		<key>GT-P7100</key>
		<string>HD</string>
		<key>GT-P7510</key>
		<string>HD</string>
		<key>GT-P7511</key>
		<string>HD</string>
		<key>TF201</key>
		<string>HD</string>
		<key>Transformer TF101</key>
		<string>HD</string>
		<key>Transformer TF101G</key>
		<string>HD</string>
		<key>Transformer Prime TF201</key>
		<string>HD</string>
		<key>MZ604</key>
		<string>HD</string>
		<key>MZ601</key>
		<string>HD</string>
		<key>Xoom</key>
		<string>HD</string>
		<key>Nexus4</key>
		<string>HD</string>
		<key>Nexus 4</key>
		<string>HD</string>
		<key>Nexus 7</key>
		<string>HD</string>
		<key>Nexus 10</key>
		<string>HD</string>
		<key>HTC EVO 3D X515m</key>
		<string>HD</string>
		<key>Galaxy Nexus</key>
		<string>HD</string>
		<key>ME860</key>
		<string>HD</string>
		<key>Z710e</key>
		<string>HD</string>
		<key>Z560e</key>
		<string>HD</string>
		<key>SH-01D</key>
		<string>HD</string>
		<key>SGH-I717</key>
		<string>HD</string>
		<key>SHV-E160K</key>
		<string>HD</string>
		<key>SHV-E160L</key>
		<string>HD</string>
		<key>SHV-E160S</key>
		<string>HD</string>
		<key>SGH-T879</key>
		<string>HD</string>
		<key>SCH-i605</key>
		<string>HD</string>
		<key>SCH-R950</key>
		<string>HD</string>
		<key>SGH-i317</key>
		<string>HD</string>
		<key>SGH-i317M</key>
		<string>HD</string>
		<key>SGH-T889</key>
		<string>HD</string>
		<key>SGH-T889V</key>
		<string>HD</string>
		<key>SPH-L900</key>
		<string>HD</string>
		<key>SCH-N719</key>
		<string>HD</string>
		<key>SGH-N025</key>
		<string>HD</string>
		<key>SHV-E250L</key>
		<string>HD</string>
		<key>SHV-E250S</key>
		<string>HD</string>
		<key>SHV-E210K</key>
		<string>HD</string>
		<key>SGH-T999</key>
		<string>HD</string>
		<key>SGH-I747</key>
		<string>HD</string>
		<key>SGH-N064</key>
		<string>HD</string>
		<key>SCH-R530</key>
		<string>HD</string>
		<key>SCH-I535</key>
		<string>HD</string>
		<key>SPH-L710</key>
		<string>HD</string>
		<key>S720e</key>
		<string>HD</string>
		<key>X325s</key>
		<string>HD</string>
		<key>XT926</key>
		<string>HD</string>
		<key>XT925</key>
		<string>HD</string>
		<key>LT29i</key>
		<string>HD</string>
		<key>P880</key>
		<string>HD</string>
		<key>P880g</key>
		<string>HD</string>
		<key>VS930</key>
		<string>HD</string>
		<key>F-05D</key>
		<string>HD</string>
		<key>GT-I9210/T</key>
		<string>HD</string>
		<key>SHV-E110S</key>
		<string>HD</string>
		<key>SHV-E120S</key>
		<string>HD</string>
		<key>GT-I9100</key>
		<string>HD</string>
		<key>GT-I9100G</key>
		<string>HD</string>
		<key>GT-I9100T</key>
		<string>HD</string>
		<key>GT-I9210T</key>
		<string>HD</string>
		<key>GT-I9100P</key>
		<string>HD</string>
		<key>ISW11SC</key>
		<string>HD</string>
		<key>SC-02C</key>
		<string>HD</string>
		<key>SHW-M250K</key>
		<string>HD</string>
		<key>SHW-M250L</key>
		<string>HD</string>
		<key>SHW-M250S</key>
		<string>HD</string>
		<key>SGH-I777</key>
		<string>HD</string>
		<key>t0ltevzw</key>
		<string>HD</string>
		<key>SGH-I727</key>
		<string>HD</string>
		<key>SC-03E</key>
		<string>HD</string>
		<key>SGH-I927</key>
		<string>HD</string>
		<key>t0ltespr</key>
		<string>HD</string>
		<key>SPH-D710</key>
		<string>HD</string>
		<key>t0ltetmo</key>
		<string>HD</string>
		<key>SGH-T989</key>
		<string>HD</string>
		<key>SCH-R760</key>
		<string>HD</string>
		<key>SHW-M380S</key>
		<string>HD</string>
		<key>p4notelte</key>
		<string>HD</string>
		<key>p4noterfktt</key>
		<string>HD</string>
		<key>p4noteltevzw</key>
		<string>HD</string>
		<key>p4notelteusc</key>
		<string>HD</string>
		<key>p4notewifi</key>
		<string>HD</string>
		<key>p4notewifiww</key>
		<string>HD</string>
		<key>GT-N8000</key>
		<string>HD</string>
		<key>GT-N8010</key>
		<string>HD</string>
		<key>GT-N8020</key>
		<string>HD</string>
		<key>LT26w</key>
		<string>HD</string>
		<key>ST25i</key>
		<string>HD</string>
		<key>ST25a</key>
		<string>HD</string>
		<key>GT-I9250</key>
		<string>HD</string>
		<key>LT26i</key>
		<string>HD</string>
		<key>LT30p</key>
		<string>HD</string>
		<key>LG L-01E</key>
		<string>HD</string>
		<key>E970</key>
		<string>HD</string>
		<key>Ls 970</key>
		<string>HD</string>
		<key>LT28at</key>
		<string>HD</string>
		<key>LT28i</key>
		<string>HD</string>
		<key>LT28h</key>
		<string>HD</string>
		<key>LT18</key>
		<string>HD</string>
		<key>Z520e</key>
		<string>HD</string>
		<key>Z520m</key>
		<string>HD</string>
		<key>X325S</key>
		<string>HD</string>
		<key>X325E</key>
		<string>HD</string>
		<key>Edge</key>
		<string>HD</string>
		<key>S728e</key>
		<string>HD</string>
		<key>XT907</key>
		<string>HD</string>
		<key>XT912</key>
		<string>HD</string>
		<key>X515m</key>
		<string>HD</string>
		<key>A66</key>
		<string>HD</string>
		<key>A68</key>
		<string>HD</string>
	</dict>
</dict>
</plist>
