<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>MAN004001a000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>168</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN004001a001.png</key>
		<dict>
			<key>x</key>
			<integer>84</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>163</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-8.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN004001a002.png</key>
		<dict>
			<key>x</key>
			<integer>167</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>168</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN004001a003.png</key>
		<dict>
			<key>x</key>
			<integer>250</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>163</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-8.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN004001c000.png</key>
		<dict>
			<key>x</key>
			<integer>333</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN004001c001.png</key>
		<dict>
			<key>x</key>
			<integer>416</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN004001c002.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN004001c003.png</key>
		<dict>
			<key>x</key>
			<integer>84</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN004001e000.png</key>
		<dict>
			<key>x</key>
			<integer>171</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>157</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-11.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN004001e001.png</key>
		<dict>
			<key>x</key>
			<integer>254</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>154</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-13</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN004001e002.png</key>
		<dict>
			<key>x</key>
			<integer>337</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>157</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-11.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN004001e003.png</key>
		<dict>
			<key>x</key>
			<integer>420</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>154</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-13</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN004002e000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>337</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>169</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-10.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN004004e000.png</key>
		<dict>
			<key>x</key>
			<integer>84</integer>
			<key>y</key>
			<integer>337</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>143</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-33.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
	</dict>
</dict>
</plist>
