<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>MAN003001a000.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>346</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN003001a001.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>165</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN003001a002.png</key>
		<dict>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>169</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN003001a003.png</key>
		<dict>
			<key>x</key>
			<integer>418</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN003001c000.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>177</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>169</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN003001c001.png</key>
		<dict>
			<key>x</key>
			<integer>250</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>165</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN003001c002.png</key>
		<dict>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>169</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN003001c003.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>165</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN003001e000.png</key>
		<dict>
			<key>x</key>
			<integer>336</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>163</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-8.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN003001e001.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>327</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>161</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN003001e002.png</key>
		<dict>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>335</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>163</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-8.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN003001e003.png</key>
		<dict>
			<key>x</key>
			<integer>246</integer>
			<key>y</key>
			<integer>165</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>161</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN003002e000.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>177</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>MAN003004e000.png</key>
		<dict>
			<key>x</key>
			<integer>328</integer>
			<key>y</key>
			<integer>165</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>150</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-30</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
	</dict>
</dict>
</plist>
