<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>MS015001a000.png</key>
		<dict>
			<key>x</key>
			<integer>165</integer>
			<key>y</key>
			<integer>176</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>3.5</real>
			<key>offsetY</key>
			<real>-66</real>
			<key>originalWidth</key>
			<integer>396</integer>
			<key>originalHeight</key>
			<integer>396</integer>
		</dict>
		<key>MS015001a001.png</key>
		<dict>
			<key>x</key>
			<integer>165</integer>
			<key>y</key>
			<integer>90</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-67.5</real>
			<key>originalWidth</key>
			<integer>396</integer>
			<key>originalHeight</key>
			<integer>396</integer>
		</dict>
		<key>MS015001a002.png</key>
		<dict>
			<key>x</key>
			<integer>165</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>-66</real>
			<key>originalWidth</key>
			<integer>396</integer>
			<key>originalHeight</key>
			<integer>396</integer>
		</dict>
		<key>MS015001a003.png</key>
		<dict>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>364</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>3.5</real>
			<key>offsetY</key>
			<real>-67.5</real>
			<key>originalWidth</key>
			<integer>396</integer>
			<key>originalHeight</key>
			<integer>396</integer>
		</dict>
		<key>MS015001c000.png</key>
		<dict>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>274</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-62.5</real>
			<key>originalWidth</key>
			<integer>396</integer>
			<key>originalHeight</key>
			<integer>396</integer>
		</dict>
		<key>MS015001c001.png</key>
		<dict>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>185</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-63</real>
			<key>originalWidth</key>
			<integer>396</integer>
			<key>originalHeight</key>
			<integer>396</integer>
		</dict>
		<key>MS015001c002.png</key>
		<dict>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-60.5</real>
			<key>originalWidth</key>
			<integer>396</integer>
			<key>originalHeight</key>
			<integer>396</integer>
		</dict>
		<key>MS015001c003.png</key>
		<dict>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-63.5</real>
			<key>originalWidth</key>
			<integer>396</integer>
			<key>originalHeight</key>
			<integer>396</integer>
		</dict>
		<key>MS015001e000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>406</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>-60</real>
			<key>originalWidth</key>
			<integer>396</integer>
			<key>originalHeight</key>
			<integer>396</integer>
		</dict>
		<key>MS015001e001.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>306</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>99</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-61.5</real>
			<key>originalWidth</key>
			<integer>396</integer>
			<key>originalHeight</key>
			<integer>396</integer>
		</dict>
		<key>MS015001e002.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>202</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<real>3.5</real>
			<key>offsetY</key>
			<real>-59.5</real>
			<key>originalWidth</key>
			<integer>396</integer>
			<key>originalHeight</key>
			<integer>396</integer>
		</dict>
		<key>MS015001e003.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>99</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>-61.5</real>
			<key>originalWidth</key>
			<integer>396</integer>
			<key>originalHeight</key>
			<integer>396</integer>
		</dict>
		<key>MS015002e000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-60</real>
			<key>originalWidth</key>
			<integer>396</integer>
			<key>originalHeight</key>
			<integer>396</integer>
		</dict>
	</dict>
</dict>
</plist>
