<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>MS018001a000.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-75.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS018001a001.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>255</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-75</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS018001a002.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>86</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-76</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS018001a003.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-75</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS018001c000.png</key>
		<dict>
			<key>x</key>
			<integer>71</integer>
			<key>y</key>
			<integer>255</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-76</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS018001c001.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>341</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-76</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS018001c002.png</key>
		<dict>
			<key>x</key>
			<integer>137</integer>
			<key>y</key>
			<integer>255</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-76</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS018001c003.png</key>
		<dict>
			<key>x</key>
			<integer>143</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-77.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS018001e000.png</key>
		<dict>
			<key>x</key>
			<integer>72</integer>
			<key>y</key>
			<integer>86</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-78</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS018001e001.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-77.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS018001e002.png</key>
		<dict>
			<key>x</key>
			<integer>72</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-77.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS018001e003.png</key>
		<dict>
			<key>x</key>
			<integer>75</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-77</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS018002e000.png</key>
		<dict>
			<key>x</key>
			<integer>144</integer>
			<key>y</key>
			<integer>86</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-78</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
	</dict>
</dict>
</plist>
