<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>MS012001a000.png</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-89.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS012001a001.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>407</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-88.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS012001a002.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-88</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS012001a003.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>336</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-88.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS012001c000.png</key>
		<dict>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>187</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-81</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS012001c001.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>187</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-79.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS012001c002.png</key>
		<dict>
			<key>x</key>
			<integer>132</integer>
			<key>y</key>
			<integer>95</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-79</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS012001c003.png</key>
		<dict>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>187</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-79.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS012001e000.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>95</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-74</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS012001e001.png</key>
		<dict>
			<key>x</key>
			<integer>132</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-73</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS012001e002.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-72.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS012001e003.png</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-73</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS012002e000.png</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>95</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-74.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
	</dict>
</dict>
</plist>
