<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>MS016001a000.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>-9.5</real>
			<key>offsetY</key>
			<real>-76.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS016001a001.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>148</integer>
			<key>width</key>
			<integer>93</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-76.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS016001a002.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>-76</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS016001a003.png</key>
		<dict>
			<key>x</key>
			<integer>99</integer>
			<key>y</key>
			<integer>74</integer>
			<key>width</key>
			<integer>93</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-76.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS016001c000.png</key>
		<dict>
			<key>x</key>
			<integer>362</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>7.5</real>
			<key>offsetY</key>
			<real>-74</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS016001c001.png</key>
		<dict>
			<key>x</key>
			<integer>283</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>7.5</real>
			<key>offsetY</key>
			<real>-71.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS016001c002.png</key>
		<dict>
			<key>x</key>
			<integer>362</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>7.5</real>
			<key>offsetY</key>
			<real>-72</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS016001c003.png</key>
		<dict>
			<key>x</key>
			<integer>283</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>7.5</real>
			<key>offsetY</key>
			<real>-72</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS016001e000.png</key>
		<dict>
			<key>x</key>
			<integer>99</integer>
			<key>y</key>
			<integer>157</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>9.5</real>
			<key>offsetY</key>
			<real>-82.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS016001e001.png</key>
		<dict>
			<key>x</key>
			<integer>99</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>93</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-88</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS016001e002.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>83</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>-9</real>
			<key>offsetY</key>
			<real>-83.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS016001e003.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>74</integer>
			<key>width</key>
			<integer>93</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-88</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
		<key>MS016002e000.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>99</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-88</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>440</integer>
		</dict>
	</dict>
</dict>
</plist>
