<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>MS020001a000.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-24</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>248</integer>
		</dict>
		<key>MS020001a001.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>302</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-23</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>248</integer>
		</dict>
		<key>MS020001a002.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>207</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-24</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>248</integer>
		</dict>
		<key>MS020001a003.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>110</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-23</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>248</integer>
		</dict>
		<key>MS020001c000.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-21</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>248</integer>
		</dict>
		<key>MS020001c001.png</key>
		<dict>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>326</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>-21.5</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>248</integer>
		</dict>
		<key>MS020001c002.png</key>
		<dict>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>217</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-22</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>248</integer>
		</dict>
		<key>MS020001c003.png</key>
		<dict>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>106</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>-21</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>248</integer>
		</dict>
		<key>MS020001e000.png</key>
		<dict>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-26</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>248</integer>
		</dict>
		<key>MS020001e001.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>332</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-25</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>248</integer>
		</dict>
		<key>MS020001e002.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>227</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-26</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>248</integer>
		</dict>
		<key>MS020001e003.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-25</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>248</integer>
		</dict>
		<key>MS020002e000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-19</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>248</integer>
		</dict>
	</dict>
</dict>
</plist>
