<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>MS021001a000.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-28.5</real>
			<key>originalWidth</key>
			<integer>275</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>MS021001a001.png</key>
		<dict>
			<key>x</key>
			<integer>61</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-32</real>
			<key>originalWidth</key>
			<integer>275</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>MS021001a002.png</key>
		<dict>
			<key>x</key>
			<integer>122</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-28.5</real>
			<key>originalWidth</key>
			<integer>275</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>MS021001a003.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-32.5</real>
			<key>originalWidth</key>
			<integer>275</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>MS021001c000.png</key>
		<dict>
			<key>x</key>
			<integer>75</integer>
			<key>y</key>
			<integer>286</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>107</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-25</real>
			<key>originalWidth</key>
			<integer>275</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>MS021001c001.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>386</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-28.5</real>
			<key>originalWidth</key>
			<integer>275</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>MS021001c002.png</key>
		<dict>
			<key>x</key>
			<integer>75</integer>
			<key>y</key>
			<integer>393</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-24.5</real>
			<key>originalWidth</key>
			<integer>275</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>MS021001c003.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>286</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-28.5</real>
			<key>originalWidth</key>
			<integer>275</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>MS021001e000.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-28.5</real>
			<key>originalWidth</key>
			<integer>275</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>MS021001e001.png</key>
		<dict>
			<key>x</key>
			<integer>122</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-32</real>
			<key>originalWidth</key>
			<integer>275</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>MS021001e002.png</key>
		<dict>
			<key>x</key>
			<integer>61</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-28</real>
			<key>originalWidth</key>
			<integer>275</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>MS021001e003.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-32.5</real>
			<key>originalWidth</key>
			<integer>275</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>MS021002e000.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>198</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>-28.5</real>
			<key>originalWidth</key>
			<integer>275</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
	</dict>
</dict>
</plist>
