<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>NPC004001a000.png</key>
		<dict>
			<key>x</key>
			<integer>473</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-84.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004001a001.png</key>
		<dict>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>-79</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004001a002.png</key>
		<dict>
			<key>x</key>
			<integer>627</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-83</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004001a003.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>83</integer>
			<key>height</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>-76.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004001c000.png</key>
		<dict>
			<key>x</key>
			<integer>703</integer>
			<key>y</key>
			<integer>125</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>125</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-73.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004001c001.png</key>
		<dict>
			<key>x</key>
			<integer>242</integer>
			<key>y</key>
			<integer>107</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-69.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004001c002.png</key>
		<dict>
			<key>x</key>
			<integer>703</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>125</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-73.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004001c003.png</key>
		<dict>
			<key>x</key>
			<integer>167</integer>
			<key>y</key>
			<integer>107</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-69.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004001e000.png</key>
		<dict>
			<key>x</key>
			<integer>550</integer>
			<key>y</key>
			<integer>116</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>115</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-77.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004001e001.png</key>
		<dict>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>114</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>-74</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004001e002.png</key>
		<dict>
			<key>x</key>
			<integer>550</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-77</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004001e003.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>119</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>-5</real>
			<key>offsetY</key>
			<real>-71.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004002e000.png</key>
		<dict>
			<key>x</key>
			<integer>473</integer>
			<key>y</key>
			<integer>103</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-80.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004003a000.png</key>
		<dict>
			<key>x</key>
			<integer>396</integer>
			<key>y</key>
			<integer>113</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-79.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004003a001.png</key>
		<dict>
			<key>x</key>
			<integer>396</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-79.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004003a002.png</key>
		<dict>
			<key>x</key>
			<integer>319</integer>
			<key>y</key>
			<integer>114</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-79.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004003a003.png</key>
		<dict>
			<key>x</key>
			<integer>319</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-80</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004003c000.png</key>
		<dict>
			<key>x</key>
			<integer>777</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-74</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004003c001.png</key>
		<dict>
			<key>x</key>
			<integer>627</integer>
			<key>y</key>
			<integer>106</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-74</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004003c002.png</key>
		<dict>
			<key>x</key>
			<integer>777</integer>
			<key>y</key>
			<integer>124</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-74</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004003c003.png</key>
		<dict>
			<key>x</key>
			<integer>850</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-74</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004003e000.png</key>
		<dict>
			<key>x</key>
			<integer>928</integer>
			<key>y</key>
			<integer>124</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-82.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004003e001.png</key>
		<dict>
			<key>x</key>
			<integer>165</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-83</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004003e002.png</key>
		<dict>
			<key>x</key>
			<integer>242</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-83</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC004003e003.png</key>
		<dict>
			<key>x</key>
			<integer>851</integer>
			<key>y</key>
			<integer>124</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-82.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
	</dict>
</dict>
</plist>
