<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>NPC008001a000.png</key>
		<dict>
			<key>height</key>
			<integer>107</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-84.5</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>84</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>NPC008001a001.png</key>
		<dict>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-80</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>86</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>NPC008001a002.png</key>
		<dict>
			<key>height</key>
			<integer>107</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-84.5</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>84</integer>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>NPC008001a003.png</key>
		<dict>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-80</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>77</integer>
			<key>x</key>
			<integer>247</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>NPC008001c000.png</key>
		<dict>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-82.5</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>74</integer>
			<key>x</key>
			<integer>325</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>NPC008001c001.png</key>
		<dict>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-78.5</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>73</integer>
			<key>x</key>
			<integer>400</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>NPC008001c002.png</key>
		<dict>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-82.5</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>474</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>NPC008001c003.png</key>
		<dict>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-79</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>74</integer>
			<key>x</key>
			<integer>550</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>NPC008001e000.png</key>
		<dict>
			<key>height</key>
			<integer>111</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-80.5</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>84</integer>
			<key>x</key>
			<integer>625</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>NPC008001e001.png</key>
		<dict>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-78</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>710</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>NPC008001e002.png</key>
		<dict>
			<key>height</key>
			<integer>111</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-80.5</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>84</integer>
			<key>x</key>
			<integer>786</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>NPC008001e003.png</key>
		<dict>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-78</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>77</integer>
			<key>x</key>
			<integer>871</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>NPC008002e000.png</key>
		<dict>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-82</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>119</integer>
		</dict>
		<key>NPC008003a000.png</key>
		<dict>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-83</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>74</integer>
			<key>x</key>
			<integer>77</integer>
			<key>y</key>
			<integer>119</integer>
		</dict>
		<key>NPC008003a001.png</key>
		<dict>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-83</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>152</integer>
			<key>y</key>
			<integer>119</integer>
		</dict>
		<key>NPC008003a002.png</key>
		<dict>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-83</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>228</integer>
			<key>y</key>
			<integer>119</integer>
		</dict>
		<key>NPC008003a003.png</key>
		<dict>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-82.5</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>74</integer>
			<key>x</key>
			<integer>304</integer>
			<key>y</key>
			<integer>119</integer>
		</dict>
		<key>NPC008003c000.png</key>
		<dict>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-82.5</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>74</integer>
			<key>x</key>
			<integer>379</integer>
			<key>y</key>
			<integer>119</integer>
		</dict>
		<key>NPC008003c001.png</key>
		<dict>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-82.5</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>454</integer>
			<key>y</key>
			<integer>119</integer>
		</dict>
		<key>NPC008003c002.png</key>
		<dict>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-82.5</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>530</integer>
			<key>y</key>
			<integer>119</integer>
		</dict>
		<key>NPC008003c003.png</key>
		<dict>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-82.5</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>74</integer>
			<key>x</key>
			<integer>606</integer>
			<key>y</key>
			<integer>119</integer>
		</dict>
		<key>NPC008003e000.png</key>
		<dict>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-83</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>74</integer>
			<key>x</key>
			<integer>681</integer>
			<key>y</key>
			<integer>119</integer>
		</dict>
		<key>NPC008003e001.png</key>
		<dict>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-83</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>75</integer>
			<key>x</key>
			<integer>756</integer>
			<key>y</key>
			<integer>119</integer>
		</dict>
		<key>NPC008003e002.png</key>
		<dict>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-83</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>74</integer>
			<key>x</key>
			<integer>832</integer>
			<key>y</key>
			<integer>119</integer>
		</dict>
		<key>NPC008003e003.png</key>
		<dict>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-83</real>
			<key>originalHeight</key>
			<integer>512</integer>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>width</key>
			<integer>74</integer>
			<key>x</key>
			<integer>907</integer>
			<key>y</key>
			<integer>119</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>256</integer>
		<key>width</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>
