<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>NPC010001a000.png</key>
		<dict>
			<key>x</key>
			<integer>109</integer>
			<key>y</key>
			<integer>227</integer>
			<key>width</key>
			<integer>105</integer>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>-80</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010001a001.png</key>
		<dict>
			<key>x</key>
			<integer>319</integer>
			<key>y</key>
			<integer>272</integer>
			<key>width</key>
			<integer>99</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>-76</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010001a002.png</key>
		<dict>
			<key>x</key>
			<integer>109</integer>
			<key>y</key>
			<integer>111</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>-5</real>
			<key>offsetY</key>
			<real>-80</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010001a003.png</key>
		<dict>
			<key>x</key>
			<integer>419</integer>
			<key>y</key>
			<integer>252</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-76</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010001c000.png</key>
		<dict>
			<key>x</key>
			<integer>518</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>-9.5</real>
			<key>offsetY</key>
			<real>-72.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010001c001.png</key>
		<dict>
			<key>x</key>
			<integer>319</integer>
			<key>y</key>
			<integer>137</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>135</integer>
			<key>offsetX</key>
			<real>-12</real>
			<key>offsetY</key>
			<real>-68.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010001c002.png</key>
		<dict>
			<key>x</key>
			<integer>518</integer>
			<key>y</key>
			<integer>127</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>-9</real>
			<key>offsetY</key>
			<real>-72.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010001c003.png</key>
		<dict>
			<key>x</key>
			<integer>319</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>137</integer>
			<key>offsetX</key>
			<real>-12</real>
			<key>offsetY</key>
			<real>-67.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010001e000.png</key>
		<dict>
			<key>x</key>
			<integer>109</integer>
			<key>y</key>
			<integer>343</integer>
			<key>width</key>
			<integer>105</integer>
			<key>height</key>
			<integer>111</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-80.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010001e001.png</key>
		<dict>
			<key>x</key>
			<integer>419</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>99</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-73</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010001e002.png</key>
		<dict>
			<key>x</key>
			<integer>109</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>111</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-80.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010001e003.png</key>
		<dict>
			<key>x</key>
			<integer>419</integer>
			<key>y</key>
			<integer>126</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>6</real>
			<key>offsetY</key>
			<real>-73</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010002e000.png</key>
		<dict>
			<key>x</key>
			<integer>615</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>-74.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010003a000.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>109</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>10.5</real>
			<key>offsetY</key>
			<real>-80.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010003a001.png</key>
		<dict>
			<key>x</key>
			<integer>319</integer>
			<key>y</key>
			<integer>394</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-79.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010003a002.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>329</integer>
			<key>width</key>
			<integer>109</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>-10.5</real>
			<key>offsetY</key>
			<real>-80.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010003a003.png</key>
		<dict>
			<key>x</key>
			<integer>215</integer>
			<key>y</key>
			<integer>362</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>-79.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010003c000.png</key>
		<dict>
			<key>x</key>
			<integer>518</integer>
			<key>y</key>
			<integer>380</integer>
			<key>width</key>
			<integer>95</integer>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>-7.5</real>
			<key>offsetY</key>
			<real>-72.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010003c001.png</key>
		<dict>
			<key>x</key>
			<integer>215</integer>
			<key>y</key>
			<integer>127</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>-16</real>
			<key>offsetY</key>
			<real>-72.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010003c002.png</key>
		<dict>
			<key>x</key>
			<integer>518</integer>
			<key>y</key>
			<integer>254</integer>
			<key>width</key>
			<integer>95</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>-7.5</real>
			<key>offsetY</key>
			<real>-73</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010003c003.png</key>
		<dict>
			<key>x</key>
			<integer>215</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>-16</real>
			<key>offsetY</key>
			<real>-72.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010003e000.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>221</integer>
			<key>width</key>
			<integer>109</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>-10.5</real>
			<key>offsetY</key>
			<real>-82</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010003e001.png</key>
		<dict>
			<key>x</key>
			<integer>419</integer>
			<key>y</key>
			<integer>374</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-81</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010003e002.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>113</integer>
			<key>width</key>
			<integer>109</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>10.5</real>
			<key>offsetY</key>
			<real>-82</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC010003e003.png</key>
		<dict>
			<key>x</key>
			<integer>215</integer>
			<key>y</key>
			<integer>254</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-81</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
	</dict>
</dict>
</plist>
