<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>NPC003001a000.png</key>
		<dict>
			<key>x</key>
			<integer>405</integer>
			<key>y</key>
			<integer>802</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-81</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001a001.png</key>
		<dict>
			<key>x</key>
			<integer>305</integer>
			<key>y</key>
			<integer>802</integer>
			<key>width</key>
			<integer>99</integer>
			<key>height</key>
			<integer>123</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-75.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001a002.png</key>
		<dict>
			<key>x</key>
			<integer>204</integer>
			<key>y</key>
			<integer>802</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>111</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-80.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001a003.png</key>
		<dict>
			<key>x</key>
			<integer>103</integer>
			<key>y</key>
			<integer>802</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-75.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001a004.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>802</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-81</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001c000.png</key>
		<dict>
			<key>x</key>
			<integer>328</integer>
			<key>y</key>
			<integer>665</integer>
			<key>width</key>
			<integer>83</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>-6.5</real>
			<key>offsetY</key>
			<real>-73</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001c001.png</key>
		<dict>
			<key>x</key>
			<integer>248</integer>
			<key>y</key>
			<integer>665</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-68</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001c002.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>665</integer>
			<key>width</key>
			<integer>83</integer>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>-6.5</real>
			<key>offsetY</key>
			<real>-72.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001c003.png</key>
		<dict>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>665</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>-69.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001c004.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>665</integer>
			<key>width</key>
			<integer>83</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>-6.5</real>
			<key>offsetY</key>
			<real>-73</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001e000.png</key>
		<dict>
			<key>x</key>
			<integer>405</integer>
			<key>y</key>
			<integer>526</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-68.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001e001.png</key>
		<dict>
			<key>x</key>
			<integer>305</integer>
			<key>y</key>
			<integer>526</integer>
			<key>width</key>
			<integer>99</integer>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-66</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001e002.png</key>
		<dict>
			<key>x</key>
			<integer>204</integer>
			<key>y</key>
			<integer>526</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-68.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001e003.png</key>
		<dict>
			<key>x</key>
			<integer>103</integer>
			<key>y</key>
			<integer>526</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-66</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001e004.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>526</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-68.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001g000.png</key>
		<dict>
			<key>x</key>
			<integer>328</integer>
			<key>y</key>
			<integer>389</integer>
			<key>width</key>
			<integer>83</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>6.5</real>
			<key>offsetY</key>
			<real>-73</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001g001.png</key>
		<dict>
			<key>x</key>
			<integer>248</integer>
			<key>y</key>
			<integer>389</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>-69.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001g002.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>389</integer>
			<key>width</key>
			<integer>83</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>6.5</real>
			<key>offsetY</key>
			<real>-73</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001g003.png</key>
		<dict>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>389</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>-68</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003001g004.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>389</integer>
			<key>width</key>
			<integer>83</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>6.5</real>
			<key>offsetY</key>
			<real>-73</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003003a000.png</key>
		<dict>
			<key>x</key>
			<integer>307</integer>
			<key>y</key>
			<integer>261</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>123</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-74.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003003a001.png</key>
		<dict>
			<key>x</key>
			<integer>205</integer>
			<key>y</key>
			<integer>261</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>125</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-74.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003003a002.png</key>
		<dict>
			<key>x</key>
			<integer>103</integer>
			<key>y</key>
			<integer>261</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-74</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003003a003.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>261</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-75</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003003c000.png</key>
		<dict>
			<key>x</key>
			<integer>430</integer>
			<key>y</key>
			<integer>131</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-71.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003003c001.png</key>
		<dict>
			<key>x</key>
			<integer>355</integer>
			<key>y</key>
			<integer>131</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-71.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003003c002.png</key>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>131</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-71.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003003c003.png</key>
		<dict>
			<key>x</key>
			<integer>205</integer>
			<key>y</key>
			<integer>131</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-71.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003003e000.png</key>
		<dict>
			<key>x</key>
			<integer>103</integer>
			<key>y</key>
			<integer>131</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>125</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-72.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003003e001.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>131</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>125</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-72.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003003e002.png</key>
		<dict>
			<key>x</key>
			<integer>401</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>125</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-72.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003003e003.png</key>
		<dict>
			<key>x</key>
			<integer>299</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>125</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-72.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003003g000.png</key>
		<dict>
			<key>x</key>
			<integer>224</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-71.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003003g001.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-71.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003003g002.png</key>
		<dict>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-71.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003003g003.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-71.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC003002e000.png</key>
		<dict>
			<key>x</key>
			<integer>409</integer>
			<key>y</key>
			<integer>261</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-71.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
	</dict>
</dict>
</plist>
