<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>NPC007001a000.png</key>
		<dict>
			<key>x</key>
			<integer>418</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-81</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007001a001.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>-75</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007001a002.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>310</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-81</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007001a003.png</key>
		<dict>
			<key>x</key>
			<integer>521</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-75</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007001c000.png</key>
		<dict>
			<key>x</key>
			<integer>521</integer>
			<key>y</key>
			<integer>317</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>-10</real>
			<key>offsetY</key>
			<real>-66</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007001c001.png</key>
		<dict>
			<key>x</key>
			<integer>623</integer>
			<key>y</key>
			<integer>160</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>172</integer>
			<key>offsetX</key>
			<real>-7</real>
			<key>offsetY</key>
			<real>-60</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007001c002.png</key>
		<dict>
			<key>x</key>
			<integer>623</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>-10</real>
			<key>offsetY</key>
			<real>-66</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007001c003.png</key>
		<dict>
			<key>x</key>
			<integer>623</integer>
			<key>y</key>
			<integer>332</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>-7</real>
			<key>offsetY</key>
			<real>-63</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007001e000.png</key>
		<dict>
			<key>x</key>
			<integer>418</integer>
			<key>y</key>
			<integer>295</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-64</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007001e001.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>144</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>-62</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007001e002.png</key>
		<dict>
			<key>x</key>
			<integer>418</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>163</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-63.5</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007001e003.png</key>
		<dict>
			<key>x</key>
			<integer>521</integer>
			<key>y</key>
			<integer>144</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>173</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>-58.5</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007002e000.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>150</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-65</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007003a000.png</key>
		<dict>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>151</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-71.5</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007003a001.png</key>
		<dict>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>151</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>152</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-71</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007003a002.png</key>
		<dict>
			<key>x</key>
			<integer>106</integer>
			<key>y</key>
			<integer>150</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>152</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-71</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007003a003.png</key>
		<dict>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>303</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>151</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-71.5</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007003c000.png</key>
		<dict>
			<key>x</key>
			<integer>793</integer>
			<key>y</key>
			<integer>160</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>165</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>-63.5</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007003c001.png</key>
		<dict>
			<key>x</key>
			<integer>872</integer>
			<key>y</key>
			<integer>160</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>164</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-64</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007003c002.png</key>
		<dict>
			<key>x</key>
			<integer>713</integer>
			<key>y</key>
			<integer>325</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>164</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-64</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007003c003.png</key>
		<dict>
			<key>x</key>
			<integer>713</integer>
			<key>y</key>
			<integer>160</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>165</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-63.5</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007003e000.png</key>
		<dict>
			<key>x</key>
			<integer>106</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>150</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-70</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007003e001.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>310</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>149</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-70.5</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007003e002.png</key>
		<dict>
			<key>x</key>
			<integer>106</integer>
			<key>y</key>
			<integer>302</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>149</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-70.5</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
		<key>NPC007003e003.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>150</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-70</real>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>originalHeight</key>
			<integer>550</integer>
		</dict>
	</dict>
</dict>
</plist>
