<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>NPC005001a000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>111</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-80.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001a001.png</key>
		<dict>
			<key>x</key>
			<integer>108</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>105</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-75.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001a002.png</key>
		<dict>
			<key>x</key>
			<integer>214</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>115</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-79.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001a003.png</key>
		<dict>
			<key>x</key>
			<integer>321</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-72</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001a004.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>130</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>111</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-80.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001c000.png</key>
		<dict>
			<key>x</key>
			<integer>108</integer>
			<key>y</key>
			<integer>130</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-70.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001c001.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>130</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>139</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-66.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001c002.png</key>
		<dict>
			<key>x</key>
			<integer>258</integer>
			<key>y</key>
			<integer>130</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-70.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001c003.png</key>
		<dict>
			<key>x</key>
			<integer>333</integer>
			<key>y</key>
			<integer>130</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>139</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-66.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001c004.png</key>
		<dict>
			<key>x</key>
			<integer>408</integer>
			<key>y</key>
			<integer>130</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-70.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001e000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>270</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-73</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001e001.png</key>
		<dict>
			<key>x</key>
			<integer>108</integer>
			<key>y</key>
			<integer>270</integer>
			<key>width</key>
			<integer>105</integer>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-71.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001e002.png</key>
		<dict>
			<key>x</key>
			<integer>214</integer>
			<key>y</key>
			<integer>270</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-72</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001e003.png</key>
		<dict>
			<key>x</key>
			<integer>321</integer>
			<key>y</key>
			<integer>270</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>135</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-67.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001e004.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>406</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-73</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001g000.png</key>
		<dict>
			<key>x</key>
			<integer>108</integer>
			<key>y</key>
			<integer>406</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-81</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001g001.png</key>
		<dict>
			<key>x</key>
			<integer>182</integer>
			<key>y</key>
			<integer>406</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-76.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001g002.png</key>
		<dict>
			<key>x</key>
			<integer>257</integer>
			<key>y</key>
			<integer>406</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-81</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001g003.png</key>
		<dict>
			<key>x</key>
			<integer>332</integer>
			<key>y</key>
			<integer>406</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-74</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005001g004.png</key>
		<dict>
			<key>x</key>
			<integer>407</integer>
			<key>y</key>
			<integer>406</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-81</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005003a000.png</key>
		<dict>
			<key>x</key>
			<integer>108</integer>
			<key>y</key>
			<integer>531</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-75.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005003a001.png</key>
		<dict>
			<key>x</key>
			<integer>215</integer>
			<key>y</key>
			<integer>531</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-76</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005003a002.png</key>
		<dict>
			<key>x</key>
			<integer>322</integer>
			<key>y</key>
			<integer>531</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>123</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-75.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005003a003.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>655</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-75.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005003c000.png</key>
		<dict>
			<key>x</key>
			<integer>108</integer>
			<key>y</key>
			<integer>655</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-70.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005003c001.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>655</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-70.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005003c002.png</key>
		<dict>
			<key>x</key>
			<integer>258</integer>
			<key>y</key>
			<integer>655</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-70.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005003c003.png</key>
		<dict>
			<key>x</key>
			<integer>332</integer>
			<key>y</key>
			<integer>655</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-70.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005003e000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>787</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-78</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005003e001.png</key>
		<dict>
			<key>x</key>
			<integer>108</integer>
			<key>y</key>
			<integer>787</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-78.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005003e002.png</key>
		<dict>
			<key>x</key>
			<integer>215</integer>
			<key>y</key>
			<integer>787</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-78.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005003e003.png</key>
		<dict>
			<key>x</key>
			<integer>322</integer>
			<key>y</key>
			<integer>787</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-78</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005003g000.png</key>
		<dict>
			<key>x</key>
			<integer>429</integer>
			<key>y</key>
			<integer>787</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-81</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005003g001.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>902</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-81</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005003g002.png</key>
		<dict>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>902</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-81</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005003g003.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>902</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-81</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC005002e000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>531</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-76</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
	</dict>
</dict>
</plist>
