<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>NPC001001a000.png</key>
		<dict>
			<key>x</key>
			<integer>154</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-84.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001001a001.png</key>
		<dict>
			<key>x</key>
			<integer>77</integer>
			<key>y</key>
			<integer>129</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>115</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-78.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001001a002.png</key>
		<dict>
			<key>x</key>
			<integer>822</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-84.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001001a003.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>115</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-78</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001001c000.png</key>
		<dict>
			<key>x</key>
			<integer>748</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-76</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001001c001.png</key>
		<dict>
			<key>x</key>
			<integer>674</integer>
			<key>y</key>
			<integer>119</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-71</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001001c002.png</key>
		<dict>
			<key>x</key>
			<integer>674</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-76.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001001c003.png</key>
		<dict>
			<key>x</key>
			<integer>600</integer>
			<key>y</key>
			<integer>122</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-74</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001001e000.png</key>
		<dict>
			<key>x</key>
			<integer>229</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-74.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001001e001.png</key>
		<dict>
			<key>x</key>
			<integer>154</integer>
			<key>y</key>
			<integer>103</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-70.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001001e002.png</key>
		<dict>
			<key>x</key>
			<integer>600</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-74</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001001e003.png</key>
		<dict>
			<key>x</key>
			<integer>77</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-70.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001002e000.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>115</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-77.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001003a000.png</key>
		<dict>
			<key>x</key>
			<integer>378</integer>
			<key>y</key>
			<integer>121</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>115</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-78.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001003a001.png</key>
		<dict>
			<key>x</key>
			<integer>526</integer>
			<key>y</key>
			<integer>121</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-78</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001003a002.png</key>
		<dict>
			<key>x</key>
			<integer>896</integer>
			<key>y</key>
			<integer>103</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-78.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001003a003.png</key>
		<dict>
			<key>x</key>
			<integer>304</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>115</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-78.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001003c000.png</key>
		<dict>
			<key>x</key>
			<integer>378</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-75.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001003c001.png</key>
		<dict>
			<key>x</key>
			<integer>304</integer>
			<key>y</key>
			<integer>115</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-75.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001003c002.png</key>
		<dict>
			<key>x</key>
			<integer>229</integer>
			<key>y</key>
			<integer>121</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-75.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001003c003.png</key>
		<dict>
			<key>x</key>
			<integer>526</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-75.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001003e000.png</key>
		<dict>
			<key>x</key>
			<integer>452</integer>
			<key>y</key>
			<integer>112</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-79</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001003e001.png</key>
		<dict>
			<key>x</key>
			<integer>748</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-79</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001003e002.png</key>
		<dict>
			<key>x</key>
			<integer>822</integer>
			<key>y</key>
			<integer>103</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>111</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-79.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC001003e003.png</key>
		<dict>
			<key>x</key>
			<integer>452</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-79</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
	</dict>
</dict>
</plist>
