<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>NPC002001a000.png</key>
		<dict>
			<key>x</key>
			<integer>453</integer>
			<key>y</key>
			<integer>387</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-80</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001a001.png</key>
		<dict>
			<key>x</key>
			<integer>340</integer>
			<key>y</key>
			<integer>386</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-73</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001a002.png</key>
		<dict>
			<key>x</key>
			<integer>227</integer>
			<key>y</key>
			<integer>387</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>115</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-78.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001a003.png</key>
		<dict>
			<key>x</key>
			<integer>116</integer>
			<key>y</key>
			<integer>383</integer>
			<key>width</key>
			<integer>110</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-71.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001a004.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>387</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-80</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001c000.png</key>
		<dict>
			<key>x</key>
			<integer>866</integer>
			<key>y</key>
			<integer>253</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-74</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001c001.png</key>
		<dict>
			<key>x</key>
			<integer>791</integer>
			<key>y</key>
			<integer>253</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-69.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001c002.png</key>
		<dict>
			<key>x</key>
			<integer>716</integer>
			<key>y</key>
			<integer>253</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-74</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001c003.png</key>
		<dict>
			<key>x</key>
			<integer>642</integer>
			<key>y</key>
			<integer>253</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-70.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001c004.png</key>
		<dict>
			<key>x</key>
			<integer>568</integer>
			<key>y</key>
			<integer>253</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-74</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001e000.png</key>
		<dict>
			<key>x</key>
			<integer>453</integer>
			<key>y</key>
			<integer>253</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-78.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001e001.png</key>
		<dict>
			<key>x</key>
			<integer>340</integer>
			<key>y</key>
			<integer>253</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-74.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001e002.png</key>
		<dict>
			<key>x</key>
			<integer>227</integer>
			<key>y</key>
			<integer>253</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-78</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001e003.png</key>
		<dict>
			<key>x</key>
			<integer>116</integer>
			<key>y</key>
			<integer>253</integer>
			<key>width</key>
			<integer>110</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>-5</real>
			<key>offsetY</key>
			<real>-74.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001e004.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>253</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-78.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001g000.png</key>
		<dict>
			<key>x</key>
			<integer>946</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-74</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001g001.png</key>
		<dict>
			<key>x</key>
			<integer>872</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-70</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001g002.png</key>
		<dict>
			<key>x</key>
			<integer>798</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-74</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001g003.png</key>
		<dict>
			<key>x</key>
			<integer>724</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-70.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002001g004.png</key>
		<dict>
			<key>x</key>
			<integer>649</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-74</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002003a000.png</key>
		<dict>
			<key>x</key>
			<integer>420</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-76.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002003a001.png</key>
		<dict>
			<key>x</key>
			<integer>306</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-77</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002003a002.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-76.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002003a003.png</key>
		<dict>
			<key>x</key>
			<integer>78</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-76.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002003c000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-77</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002003c001.png</key>
		<dict>
			<key>x</key>
			<integer>919</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-77.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002003c002.png</key>
		<dict>
			<key>x</key>
			<integer>842</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-77.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002003c003.png</key>
		<dict>
			<key>x</key>
			<integer>766</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-77</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002003e000.png</key>
		<dict>
			<key>x</key>
			<integer>652</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-85</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002003e001.png</key>
		<dict>
			<key>x</key>
			<integer>538</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>99</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-85.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002003e002.png</key>
		<dict>
			<key>x</key>
			<integer>424</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>99</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-85.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002003e003.png</key>
		<dict>
			<key>x</key>
			<integer>310</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-85</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002003g000.png</key>
		<dict>
			<key>x</key>
			<integer>233</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-77.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002003g001.png</key>
		<dict>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-77.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002003g002.png</key>
		<dict>
			<key>x</key>
			<integer>77</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-77.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002003g003.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-77.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
		<key>NPC002002e000.png</key>
		<dict>
			<key>x</key>
			<integer>534</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-78.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>512</integer>
		</dict>
	</dict>
</dict>
</plist>
