<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>quest_0000</key>
	<dict>
		<key>prerequisite</key>
		<string>prevservice:10</string>
		<key>condition</key>
		<string>service:10,angrypct:25</string>
		<key>rewardcode</key>
		<string>coin:1000</string>
		<key>notifyComplete</key>
		<string>NO</string>
		<key>notifyFail</key>
		<true/>
	</dict>
	<key>quest_0001</key>
	<dict>
		<key>prerequisite</key>
		<string>lvl:5,prevservice:30</string>
		<key>condition</key>
		<string>service:30,angrypct:10</string>
		<key>rewardcode</key>
		<string>coin:5000,pow:1</string>
		<key>notifyComplete</key>
		<string>NO</string>
		<key>notifyFail</key>
		<true/>
	</dict>
	<key>quest_0002</key>
	<dict>
		<key>prerequisite</key>
		<string>lvl:8,prevservice:40</string>
		<key>condition</key>
		<string>service:30,angrypct:5</string>
		<key>rewardcode</key>
		<string>coin:24000,pow:3</string>
		<key>notifyComplete</key>
		<string>NO</string>
		<key>notifyFail</key>
		<true/>
	</dict>
	<key>quest_0003</key>
	<dict>
		<key>prerequisite</key>
		<string>prevservice:10</string>
		<key>condition</key>
		<string>service:10,hurrypct:25</string>
		<key>rewardcode</key>
		<string>coin:1200</string>
		<key>notifyComplete</key>
		<string>NO</string>
		<key>notifyFail</key>
		<true/>
	</dict>
	<key>quest_0004</key>
	<dict>
		<key>prerequisite</key>
		<string>lvl:5,prevservice:30</string>
		<key>condition</key>
		<string>service:30,hurrypct:10</string>
		<key>rewardcode</key>
		<string>coin:6000,wild:1</string>
		<key>notifyComplete</key>
		<string>NO</string>
		<key>notifyFail</key>
		<true/>
	</dict>
	<key>quest_0005</key>
	<dict>
		<key>prerequisite</key>
		<string>lvl:8,prevservice:40</string>
		<key>condition</key>
		<string>service:30,hurrypct:5</string>
		<key>rewardcode</key>
		<string>pp:5</string>
		<key>notifyComplete</key>
		<string>NO</string>
		<key>notifyFail</key>
		<true/>
	</dict>
	<key>quest_0006</key>
	<dict>
		<key>prerequisite</key>
		<string>prevservice:20,previncome:800</string>
		<key>condition</key>
		<string>incomepct:102</string>
		<key>rewardcode</key>
		<string>tip:2</string>
		<key>notifyComplete</key>
		<string>YES</string>
		<key>notifyFail</key>
		<false/>
	</dict>
	<key>quest_0007</key>
	<dict>
		<key>prerequisite</key>
		<string>prevservice:30,previncome:1000</string>
		<key>condition</key>
		<string>incomepct:104</string>
		<key>rewardcode</key>
		<string>pow:3,tip:3</string>
		<key>notifyComplete</key>
		<string>YES</string>
		<key>notifyFail</key>
		<false/>
	</dict>
	<key>quest_0008</key>
	<dict>
		<key>prerequisite</key>
		<string>prevservice:30,previncome:1000</string>
		<key>condition</key>
		<string>incomepct:110</string>
		<key>rewardcode</key>
		<string>pp:5,tip:3</string>
		<key>notifyComplete</key>
		<string>YES</string>
		<key>notifyFail</key>
		<false/>
	</dict>
	<key>quest_0009</key>
	<dict>
		<key>prerequisite</key>
		<string>happypct:50,prevservice:30,previncome:1000</string>
		<key>condition</key>
		<string>incomepct:110,angrypct:10</string>
		<key>rewardcode</key>
		<string>pp:10,tip:5</string>
		<key>notifyComplete</key>
		<string>YES</string>
		<key>notifyFail</key>
		<false/>
	</dict>
</dict>
</plist>
