<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>RICHLADY001a000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>168</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>RICHLADY001a001.png</key>
		<dict>
			<key>x</key>
			<integer>84</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>164</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-8</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>RICHLADY001a002.png</key>
		<dict>
			<key>x</key>
			<integer>167</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>168</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>RICHLADY001a003.png</key>
		<dict>
			<key>x</key>
			<integer>250</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>163</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-8.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>RICHLADY001c000.png</key>
		<dict>
			<key>x</key>
			<integer>333</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>165</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>RICHLADY001c001.png</key>
		<dict>
			<key>x</key>
			<integer>416</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>161</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>RICHLADY001c002.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>165</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>RICHLADY001c003.png</key>
		<dict>
			<key>x</key>
			<integer>84</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>161</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>RICHLADY001e000.png</key>
		<dict>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>RICHLADY001e001.png</key>
		<dict>
			<key>x</key>
			<integer>253</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>159</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-10.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>RICHLADY001e002.png</key>
		<dict>
			<key>x</key>
			<integer>336</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>RICHLADY001e003.png</key>
		<dict>
			<key>x</key>
			<integer>419</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>159</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-10.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>RICHLADY002e000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>336</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>174</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-8</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>RICHLADY004e000.png</key>
		<dict>
			<key>x</key>
			<integer>84</integer>
			<key>y</key>
			<integer>336</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>149</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-30.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
	</dict>
</dict>
</plist>
