<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>SMAN001a000.png</key>
		<dict>
			<key>x</key>
			<integer>343</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>SMAN001a001.png</key>
		<dict>
			<key>x</key>
			<integer>343</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>SMAN001a002.png</key>
		<dict>
			<key>x</key>
			<integer>260</integer>
			<key>y</key>
			<integer>335</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>SMAN001a003.png</key>
		<dict>
			<key>x</key>
			<integer>260</integer>
			<key>y</key>
			<integer>174</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>SMAN001c000.png</key>
		<dict>
			<key>x</key>
			<integer>260</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>172</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>SMAN001c001.png</key>
		<dict>
			<key>x</key>
			<integer>167</integer>
			<key>y</key>
			<integer>342</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>167</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>SMAN001c002.png</key>
		<dict>
			<key>x</key>
			<integer>167</integer>
			<key>y</key>
			<integer>169</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>172</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>SMAN001c003.png</key>
		<dict>
			<key>x</key>
			<integer>167</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>167</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>SMAN001e000.png</key>
		<dict>
			<key>x</key>
			<integer>84</integer>
			<key>y</key>
			<integer>340</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>170</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>SMAN001e001.png</key>
		<dict>
			<key>x</key>
			<integer>84</integer>
			<key>y</key>
			<integer>172</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>167</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>SMAN001e002.png</key>
		<dict>
			<key>x</key>
			<integer>84</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>170</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>SMAN001e003.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>343</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>167</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>SMAN002e000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>159</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>183</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>SMAN004e000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>157</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-26.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
	</dict>
</dict>
</plist>
