<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title_Arrow</key>
	<dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>13</integer>
	</dict>
	<key>vfx006</key>
	<dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>10</integer>
	</dict>
	<key>Emotion_Happy</key>
	<dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>Emotion_Angry</key>
	<dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
