<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>WOMAN002001a000.png</key>
		<dict>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>171</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>WOMAN002001a001.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>346</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>WOMAN002001a002.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>175</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>171</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>WOMAN002001a003.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>WOMAN002001c000.png</key>
		<dict>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>339</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>168</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>WOMAN002001c001.png</key>
		<dict>
			<key>x</key>
			<integer>246</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>165</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-7.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>WOMAN002001c002.png</key>
		<dict>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>171</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>168</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>WOMAN002001c003.png</key>
		<dict>
			<key>x</key>
			<integer>331</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>164</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-8</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>WOMAN002001e000.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>163</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-8.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>WOMAN002001e001.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>329</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>WOMAN002001e002.png</key>
		<dict>
			<key>x</key>
			<integer>416</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>163</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-8.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>WOMAN002001e003.png</key>
		<dict>
			<key>x</key>
			<integer>246</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>WOMAN002002e000.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-7.5</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
		<key>WOMAN002004e000.png</key>
		<dict>
			<key>x</key>
			<integer>328</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>150</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-30</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>222</integer>
		</dict>
	</dict>
</dict>
</plist>
