<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>WOMAN006001a000.png</key>
		<dict>
			<key>x</key>
			<integer>335</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001a001.png</key>
		<dict>
			<key>x</key>
			<integer>304</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001a002.png</key>
		<dict>
			<key>x</key>
			<integer>273</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001a003.png</key>
		<dict>
			<key>x</key>
			<integer>242</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001a004.png</key>
		<dict>
			<key>x</key>
			<integer>211</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001a005.png</key>
		<dict>
			<key>x</key>
			<integer>180</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001a006.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001a007.png</key>
		<dict>
			<key>x</key>
			<integer>118</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001c000.png</key>
		<dict>
			<key>x</key>
			<integer>84</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001c001.png</key>
		<dict>
			<key>x</key>
			<integer>39</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001c002.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001c003.png</key>
		<dict>
			<key>x</key>
			<integer>464</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001c004.png</key>
		<dict>
			<key>x</key>
			<integer>431</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001c005.png</key>
		<dict>
			<key>x</key>
			<integer>386</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001c006.png</key>
		<dict>
			<key>x</key>
			<integer>349</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001c007.png</key>
		<dict>
			<key>x</key>
			<integer>316</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001e000.png</key>
		<dict>
			<key>x</key>
			<integer>285</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001e001.png</key>
		<dict>
			<key>x</key>
			<integer>254</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001e002.png</key>
		<dict>
			<key>x</key>
			<integer>223</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001e003.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001e004.png</key>
		<dict>
			<key>x</key>
			<integer>161</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001e005.png</key>
		<dict>
			<key>x</key>
			<integer>130</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001e006.png</key>
		<dict>
			<key>x</key>
			<integer>99</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006001e007.png</key>
		<dict>
			<key>x</key>
			<integer>68</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006002e000.png</key>
		<dict>
			<key>x</key>
			<integer>35</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN006004e000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
	</dict>
</dict>
</plist>