<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ZOMBIE001a000.png</key>
		<dict>
			<key>height</key>
			<integer>172</integer>
			<key>offsetX</key>
			<real>6.5</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalHeight</key>
			<integer>222</integer>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>width</key>
			<integer>101</integer>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>328</integer>
		</dict>
		<key>ZOMBIE001a001.png</key>
		<dict>
			<key>height</key>
			<integer>164</integer>
			<key>offsetX</key>
			<real>7.5</real>
			<key>offsetY</key>
			<real>-14</real>
			<key>originalHeight</key>
			<integer>222</integer>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>width</key>
			<integer>113</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>ZOMBIE001a002.png</key>
		<dict>
			<key>height</key>
			<integer>177</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-7.5</real>
			<key>originalHeight</key>
			<integer>222</integer>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>width</key>
			<integer>92</integer>
			<key>x</key>
			<integer>320</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>ZOMBIE001a003.png</key>
		<dict>
			<key>height</key>
			<integer>159</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>-16.5</real>
			<key>originalHeight</key>
			<integer>222</integer>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>width</key>
			<integer>108</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>327</integer>
		</dict>
		<key>ZOMBIE001c000.png</key>
		<dict>
			<key>height</key>
			<integer>168</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalHeight</key>
			<integer>222</integer>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>width</key>
			<integer>101</integer>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>159</integer>
		</dict>
		<key>ZOMBIE001c001.png</key>
		<dict>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-13</real>
			<key>originalHeight</key>
			<integer>222</integer>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>221</integer>
			<key>y</key>
			<integer>170</integer>
		</dict>
		<key>ZOMBIE001c002.png</key>
		<dict>
			<key>height</key>
			<integer>168</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalHeight</key>
			<integer>222</integer>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>width</key>
			<integer>98</integer>
			<key>x</key>
			<integer>221</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>ZOMBIE001c003.png</key>
		<dict>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-13</real>
			<key>originalHeight</key>
			<integer>222</integer>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>width</key>
			<integer>83</integer>
			<key>x</key>
			<integer>222</integer>
			<key>y</key>
			<integer>338</integer>
		</dict>
		<key>ZOMBIE001e000.png</key>
		<dict>
			<key>height</key>
			<integer>168</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalHeight</key>
			<integer>222</integer>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>width</key>
			<integer>86</integer>
			<key>x</key>
			<integer>413</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>ZOMBIE001e001.png</key>
		<dict>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>-5</real>
			<key>offsetY</key>
			<real>-16</real>
			<key>originalHeight</key>
			<integer>222</integer>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>width</key>
			<integer>112</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>166</integer>
		</dict>
		<key>ZOMBIE001e002.png</key>
		<dict>
			<key>height</key>
			<integer>173</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalHeight</key>
			<integer>222</integer>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>width</key>
			<integer>87</integer>
			<key>x</key>
			<integer>320</integer>
			<key>y</key>
			<integer>179</integer>
		</dict>
		<key>ZOMBIE001e003.png</key>
		<dict>
			<key>height</key>
			<integer>157</integer>
			<key>offsetX</key>
			<real>6.5</real>
			<key>offsetY</key>
			<real>-17.5</real>
			<key>originalHeight</key>
			<integer>222</integer>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>width</key>
			<integer>105</integer>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>ZOMBIE002e000.png</key>
		<dict>
			<key>height</key>
			<integer>181</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalHeight</key>
			<integer>222</integer>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>width</key>
			<integer>85</integer>
			<key>x</key>
			<integer>413</integer>
			<key>y</key>
			<integer>170</integer>
		</dict>
		<key>ZOMBIE004e000.png</key>
		<dict>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>15.5</real>
			<key>offsetY</key>
			<real>-14.5</real>
			<key>originalHeight</key>
			<integer>222</integer>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>width</key>
			<integer>81</integer>
			<key>x</key>
			<integer>325</integer>
			<key>y</key>
			<integer>366</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>512</integer>
		<key>width</key>
		<integer>512</integer>
	</dict>
</dict>
</plist>
