<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MAN001</key>
	<dict>
		<key>offsetX</key>
		<integer>3</integer>
		<key>offsetY</key>
		<integer>41</integer>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>MAN002</key>
	<dict>
		<key>offsetX</key>
		<integer>3</integer>
		<key>offsetY</key>
		<integer>41</integer>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>MAN003</key>
	<dict>
		<key>offsetX</key>
		<integer>3</integer>
		<key>offsetY</key>
		<integer>38</integer>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>MAN004</key>
	<dict>
		<key>offsetX</key>
		<integer>3</integer>
		<key>offsetY</key>
		<integer>41</integer>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>MAN005</key>
	<dict>
		<key>offsetX</key>
		<integer>3</integer>
		<key>offsetY</key>
		<integer>42</integer>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>MS010</key>
	<dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>22</integer>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<key>MS011</key>
	<dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>5</integer>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<key>MS012</key>
	<dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<key>MS015</key>
	<dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>2</integer>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<key>MS016</key>
	<dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<key>MS017</key>
	<dict>
		<key>offsetX</key>
		<integer>-1</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<key>MS018</key>
	<dict>
		<key>offsetX</key>
		<integer>-1</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<key>MS019</key>
	<dict>
		<key>offsetX</key>
		<integer>3</integer>
		<key>offsetY</key>
		<integer>7</integer>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<key>MS020</key>
	<dict>
		<key>offsetX</key>
		<integer>-1</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<key>MS021</key>
	<dict>
		<key>offsetX</key>
		<integer>3</integer>
		<key>offsetY</key>
		<integer>7</integer>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<key>MS022</key>
	<dict>
		<key>offsetX</key>
		<integer>-1</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<key>NPC001</key>
	<dict>
		<key>levels</key>
		<dict>
			<key>1</key>
			<dict>
				<key>cost</key>
				<integer>0</integer>
				<key>premium</key>
				<false/>
				<key>speed</key>
				<real>1</real>
			</dict>
			<key>10</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.9</real>
			</dict>
			<key>2</key>
			<dict>
				<key>cost</key>
				<integer>5000</integer>
				<key>premium</key>
				<false/>
				<key>speed</key>
				<real>1.2</real>
			</dict>
			<key>3</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.4</real>
			</dict>
			<key>4</key>
			<dict>
				<key>cost</key>
				<integer>10000</integer>
				<key>premium</key>
				<false/>
				<key>speed</key>
				<real>1.5</real>
			</dict>
			<key>5</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.6</real>
			</dict>
			<key>6</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.7</real>
			</dict>
			<key>7</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.75</real>
			</dict>
			<key>8</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.8</real>
			</dict>
			<key>9</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.85</real>
			</dict>
		</dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>servingSpeed</key>
		<integer>1</integer>
		<key>type</key>
		<integer>2</integer>
		<key>walkSpeed</key>
		<integer>1</integer>
	</dict>
	<key>NPC002</key>
	<dict>
		<key>levels</key>
		<dict>
			<key>1</key>
			<dict>
				<key>cost</key>
				<integer>2000</integer>
				<key>premium</key>
				<false/>
				<key>speed</key>
				<real>1</real>
			</dict>
			<key>10</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.9</real>
			</dict>
			<key>2</key>
			<dict>
				<key>cost</key>
				<integer>50</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.2</real>
			</dict>
			<key>3</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.4</real>
			</dict>
			<key>4</key>
			<dict>
				<key>cost</key>
				<integer>10000</integer>
				<key>premium</key>
				<false/>
				<key>speed</key>
				<real>1.5</real>
			</dict>
			<key>5</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.6</real>
			</dict>
			<key>6</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.7</real>
			</dict>
			<key>7</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.75</real>
			</dict>
			<key>8</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.8</real>
			</dict>
			<key>9</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.85</real>
			</dict>
		</dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>servingSpeed</key>
		<integer>1</integer>
		<key>type</key>
		<integer>2</integer>
		<key>walkSpeed</key>
		<integer>1</integer>
	</dict>
	<key>NPC003</key>
	<dict>
		<key>levels</key>
		<dict>
			<key>1</key>
			<dict>
				<key>cost</key>
				<integer>30</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1</real>
			</dict>
			<key>10</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.9</real>
			</dict>
			<key>2</key>
			<dict>
				<key>cost</key>
				<integer>50</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.2</real>
			</dict>
			<key>3</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.4</real>
			</dict>
			<key>4</key>
			<dict>
				<key>cost</key>
				<integer>10000</integer>
				<key>premium</key>
				<false/>
				<key>speed</key>
				<real>1.5</real>
			</dict>
			<key>5</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.6</real>
			</dict>
			<key>6</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.7</real>
			</dict>
			<key>7</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.75</real>
			</dict>
			<key>8</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.8</real>
			</dict>
			<key>9</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.85</real>
			</dict>
		</dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>servingSpeed</key>
		<integer>1</integer>
		<key>type</key>
		<integer>2</integer>
		<key>walkSpeed</key>
		<integer>1</integer>
	</dict>
	<key>NPC004</key>
	<dict>
		<key>levels</key>
		<dict>
			<key>1</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1</real>
			</dict>
			<key>10</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.9</real>
			</dict>
			<key>2</key>
			<dict>
				<key>cost</key>
				<integer>50</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.2</real>
			</dict>
			<key>3</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.4</real>
			</dict>
			<key>4</key>
			<dict>
				<key>cost</key>
				<integer>10000</integer>
				<key>premium</key>
				<false/>
				<key>speed</key>
				<real>1.5</real>
			</dict>
			<key>5</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.6</real>
			</dict>
			<key>6</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.7</real>
			</dict>
			<key>7</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.75</real>
			</dict>
			<key>8</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.8</real>
			</dict>
			<key>9</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.85</real>
			</dict>
		</dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>servingSpeed</key>
		<integer>1</integer>
		<key>type</key>
		<integer>2</integer>
		<key>walkSpeed</key>
		<integer>1</integer>
	</dict>
	<key>NPC005</key>
	<dict>
		<key>levels</key>
		<dict>
			<key>1</key>
			<dict>
				<key>cost</key>
				<integer>150</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1</real>
			</dict>
			<key>10</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.9</real>
			</dict>
			<key>2</key>
			<dict>
				<key>cost</key>
				<integer>50</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.2</real>
			</dict>
			<key>3</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.4</real>
			</dict>
			<key>4</key>
			<dict>
				<key>cost</key>
				<integer>10000</integer>
				<key>premium</key>
				<false/>
				<key>speed</key>
				<real>1.5</real>
			</dict>
			<key>5</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.6</real>
			</dict>
			<key>6</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.7</real>
			</dict>
			<key>7</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.75</real>
			</dict>
			<key>8</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.8</real>
			</dict>
			<key>9</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.85</real>
			</dict>
		</dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>servingSpeed</key>
		<integer>1</integer>
		<key>type</key>
		<integer>2</integer>
		<key>walkSpeed</key>
		<integer>1</integer>
	</dict>
	<key>NPC006</key>
	<dict>
		<key>levels</key>
		<dict>
			<key>1</key>
			<dict>
				<key>cost</key>
				<integer>200</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1</real>
			</dict>
			<key>2</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.2</real>
			</dict>
			<key>3</key>
			<dict>
				<key>cost</key>
				<integer>200</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.4</real>
			</dict>
		</dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>32</integer>
		<key>servingSpeed</key>
		<integer>1</integer>
		<key>type</key>
		<integer>2</integer>
		<key>walkSpeed</key>
		<integer>1</integer>
	</dict>
	<key>NPC007</key>
	<dict>
		<key>levels</key>
		<dict>
			<key>1</key>
			<dict>
				<key>cost</key>
				<integer>300</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.5</real>
			</dict>
			<key>10</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.9</real>
			</dict>
			<key>2</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.8</real>
			</dict>
			<key>3</key>
			<dict>
				<key>cost</key>
				<integer>200</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>2.1</real>
			</dict>
			<key>4</key>
			<dict>
				<key>cost</key>
				<integer>10000</integer>
				<key>premium</key>
				<false/>
				<key>speed</key>
				<real>2.25</real>
			</dict>
			<key>5</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>2.4</real>
			</dict>
			<key>6</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>2.55</real>
			</dict>
			<key>7</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.75</real>
			</dict>
			<key>8</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.8</real>
			</dict>
			<key>9</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.85</real>
			</dict>
		</dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>servingSpeed</key>
		<real>1.5</real>
		<key>type</key>
		<integer>2</integer>
		<key>walkSpeed</key>
		<real>1.5</real>
	</dict>
	<key>NPC008</key>
	<dict>
		<key>levels</key>
		<dict>
			<key>1</key>
			<dict>
				<key>cost</key>
				<integer>10</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<integer>1</integer>
			</dict>
			<key>10</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<integer>12</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>cost</key>
				<integer>5000</integer>
				<key>premium</key>
				<false/>
				<key>speed</key>
				<real>2</real>
			</dict>
			<key>3</key>
			<dict>
				<key>cost</key>
				<integer>10000</integer>
				<key>premium</key>
				<false/>
				<key>speed</key>
				<real>2.5</real>
			</dict>
			<key>4</key>
			<dict>
				<key>cost</key>
				<integer>15000</integer>
				<key>premium</key>
				<false/>
				<key>speed</key>
				<real>5</real>
			</dict>
			<key>5</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<integer>7</integer>
			</dict>
			<key>6</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<integer>8</integer>
			</dict>
			<key>7</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<integer>9</integer>
			</dict>
			<key>8</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<integer>10</integer>
			</dict>
			<key>9</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<integer>11</integer>
			</dict>
		</dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>servingSpeed</key>
		<integer>1</integer>
		<key>type</key>
		<integer>2</integer>
		<key>walkSpeed</key>
		<real>0.4</real>
	</dict>
	<key>NPC009</key>
	<dict>
		<key>levels</key>
		<dict>
			<key>1</key>
			<dict>
				<key>cost</key>
				<integer>10</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<integer>1</integer>
			</dict>
			<key>10</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<integer>12</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>cost</key>
				<integer>5000</integer>
				<key>premium</key>
				<false/>
				<key>speed</key>
				<real>2</real>
			</dict>
			<key>3</key>
			<dict>
				<key>cost</key>
				<integer>10000</integer>
				<key>premium</key>
				<false/>
				<key>speed</key>
				<real>2.5</real>
			</dict>
			<key>4</key>
			<dict>
				<key>cost</key>
				<integer>15000</integer>
				<key>premium</key>
				<false/>
				<key>speed</key>
				<real>5</real>
			</dict>
			<key>5</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<integer>7</integer>
			</dict>
			<key>6</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<integer>8</integer>
			</dict>
			<key>7</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<integer>9</integer>
			</dict>
			<key>8</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<integer>10</integer>
			</dict>
			<key>9</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<integer>11</integer>
			</dict>
		</dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>servingSpeed</key>
		<integer>1</integer>
		<key>type</key>
		<integer>2</integer>
		<key>walkSpeed</key>
		<real>0.4</real>
	</dict>
	<key>PREZ</key>
	<dict>
		<key>offsetX</key>
		<integer>3</integer>
		<key>offsetY</key>
		<integer>42</integer>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>NPC010</key>
	<dict>
		<key>levels</key>
		<dict>
			<key>1</key>
			<dict>
				<key>cost</key>
				<integer>150</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1</real>
			</dict>
			<key>10</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.9</real>
			</dict>
			<key>2</key>
			<dict>
				<key>cost</key>
				<integer>50</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.2</real>
			</dict>
			<key>3</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.4</real>
			</dict>
			<key>4</key>
			<dict>
				<key>cost</key>
				<integer>10000</integer>
				<key>premium</key>
				<false/>
				<key>speed</key>
				<real>1.5</real>
			</dict>
			<key>5</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.6</real>
			</dict>
			<key>6</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.7</real>
			</dict>
			<key>7</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.75</real>
			</dict>
			<key>8</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.8</real>
			</dict>
			<key>9</key>
			<dict>
				<key>cost</key>
				<integer>100</integer>
				<key>premium</key>
				<true/>
				<key>speed</key>
				<real>1.85</real>
			</dict>
		</dict>
		<key>offsetX</key>
		<integer>3</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>servingSpeed</key>
		<integer>1</integer>
		<key>type</key>
		<integer>2</integer>
		<key>walkSpeed</key>
		<integer>1</integer>
	</dict>
	<key>RICHLADY</key>
	<dict>
		<key>offsetX</key>
		<integer>3</integer>
		<key>offsetY</key>
		<integer>38</integer>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>SMAN</key>
	<dict>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>38</integer>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>ZOMBIE</key>
	<dict>
		<key>offsetX</key>
		<integer>-12</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>WOMAN001</key>
	<dict>
		<key>offsetX</key>
		<integer>3</integer>
		<key>offsetY</key>
		<integer>41</integer>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>WOMAN002</key>
	<dict>
		<key>offsetX</key>
		<integer>3</integer>
		<key>offsetY</key>
		<integer>40</integer>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>WOMAN003</key>
	<dict>
		<key>offsetX</key>
		<integer>3</integer>
		<key>offsetY</key>
		<integer>36</integer>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>WOMAN004</key>
	<dict>
		<key>offsetX</key>
		<integer>3</integer>
		<key>offsetY</key>
		<integer>42</integer>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>WOMAN005</key>
	<dict>
		<key>offsetX</key>
		<integer>3</integer>
		<key>offsetY</key>
		<integer>45</integer>
		<key>type</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
