<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>MAN005001a000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001a001.png</key>
		<dict>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001a002.png</key>
		<dict>
			<key>x</key>
			<integer>63</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001a003.png</key>
		<dict>
			<key>x</key>
			<integer>94</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001a004.png</key>
		<dict>
			<key>x</key>
			<integer>125</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001a005.png</key>
		<dict>
			<key>x</key>
			<integer>156</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001a006.png</key>
		<dict>
			<key>x</key>
			<integer>187</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001a007.png</key>
		<dict>
			<key>x</key>
			<integer>218</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001c000.png</key>
		<dict>
			<key>x</key>
			<integer>249</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001c001.png</key>
		<dict>
			<key>x</key>
			<integer>286</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001c002.png</key>
		<dict>
			<key>x</key>
			<integer>331</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001c003.png</key>
		<dict>
			<key>x</key>
			<integer>370</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001c004.png</key>
		<dict>
			<key>x</key>
			<integer>407</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001c005.png</key>
		<dict>
			<key>x</key>
			<integer>443</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001c006.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001c007.png</key>
		<dict>
			<key>x</key>
			<integer>39</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001e000.png</key>
		<dict>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001e001.png</key>
		<dict>
			<key>x</key>
			<integer>107</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001e002.png</key>
		<dict>
			<key>x</key>
			<integer>138</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001e003.png</key>
		<dict>
			<key>x</key>
			<integer>169</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001e004.png</key>
		<dict>
			<key>x</key>
			<integer>200</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001e005.png</key>
		<dict>
			<key>x</key>
			<integer>231</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001e006.png</key>
		<dict>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005001e007.png</key>
		<dict>
			<key>x</key>
			<integer>293</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005002e000.png</key>
		<dict>
			<key>x</key>
			<integer>324</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>MAN005004e000.png</key>
		<dict>
			<key>x</key>
			<integer>357</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-10.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
	</dict>
</dict>
</plist>