<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>MS019001a000.png</key>
		<dict>
			<key>x</key>
			<integer>165</integer>
			<key>y</key>
			<integer>53</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-13.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>MS019001a001.png</key>
		<dict>
			<key>x</key>
			<integer>135</integer>
			<key>y</key>
			<integer>53</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-15</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>MS019001a002.png</key>
		<dict>
			<key>x</key>
			<integer>105</integer>
			<key>y</key>
			<integer>53</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-13.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>MS019001a003.png</key>
		<dict>
			<key>x</key>
			<integer>75</integer>
			<key>y</key>
			<integer>53</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-15</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>MS019001c000.png</key>
		<dict>
			<key>x</key>
			<integer>38</integer>
			<key>y</key>
			<integer>53</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-11.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>MS019001c001.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>53</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-13</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>MS019001c002.png</key>
		<dict>
			<key>x</key>
			<integer>190</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-11.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>MS019001c003.png</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-13.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>MS019001e000.png</key>
		<dict>
			<key>x</key>
			<integer>123</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-13</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>MS019001e001.png</key>
		<dict>
			<key>x</key>
			<integer>93</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-15</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>MS019001e002.png</key>
		<dict>
			<key>x</key>
			<integer>63</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-13</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>MS019001e003.png</key>
		<dict>
			<key>x</key>
			<integer>33</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-15</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>MS019002e000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-13.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
	</dict>
</dict>
</plist>