<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>MS015001a000.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS015001a001.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>126</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-4.5</real>
		</dict>
		<key>MS015001a002.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>85</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS015001a003.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>43</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
		</dict>
		<key>MS015001a004.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
		</dict>
		<key>MS015001a005.png</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS015001a006.png</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS015001a007.png</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>121</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS015001c000.png</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>80</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-3</real>
		</dict>
		<key>MS015001c001.png</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>41</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2</real>
		</dict>
		<key>MS015001c002.png</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1.5</real>
		</dict>
		<key>MS015001c003.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>213</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
		</dict>
		<key>MS015001c004.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>172</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
		</dict>
		<key>MS015001c005.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>131</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
		</dict>
		<key>MS015001c006.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>89</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2.5</real>
		</dict>
		<key>MS015001c007.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>47</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2.5</real>
		</dict>
		<key>MS015001e000.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
		</dict>
		<key>MS015001e001.png</key>
		<dict>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>185</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
		</dict>
		<key>MS015001e002.png</key>
		<dict>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>139</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
		</dict>
		<key>MS015001e003.png</key>
		<dict>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>93</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
		</dict>
		<key>MS015001e004.png</key>
		<dict>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>47</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
		</dict>
		<key>MS015001e005.png</key>
		<dict>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
		</dict>
		<key>MS015001e006.png</key>
		<dict>
			<key>x</key>
			<integer>38</integer>
			<key>y</key>
			<integer>167</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
		</dict>
		<key>MS015001e007.png</key>
		<dict>
			<key>x</key>
			<integer>38</integer>
			<key>y</key>
			<integer>121</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
		</dict>
		<key>MS015001g000.png</key>
		<dict>
			<key>x</key>
			<integer>38</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2</real>
		</dict>
		<key>MS015001g001.png</key>
		<dict>
			<key>x</key>
			<integer>38</integer>
			<key>y</key>
			<integer>42</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
		</dict>
		<key>MS015001g002.png</key>
		<dict>
			<key>x</key>
			<integer>38</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1</real>
		</dict>
		<key>MS015001g003.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>210</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1</real>
		</dict>
		<key>MS015001g004.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>169</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
		</dict>
		<key>MS015001g005.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1</real>
		</dict>
		<key>MS015001g006.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1</real>
		</dict>
		<key>MS015001g007.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>47</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
		</dict>
		<key>MS015002e000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
		</dict>
	</dict>
</dict>
</plist>