<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>MS010001a000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001a001.png</key>
		<dict>
			<key>x</key>
			<integer>29</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001a002.png</key>
		<dict>
			<key>x</key>
			<integer>58</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001a003.png</key>
		<dict>
			<key>x</key>
			<integer>87</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001a004.png</key>
		<dict>
			<key>x</key>
			<integer>116</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001a005.png</key>
		<dict>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001a006.png</key>
		<dict>
			<key>x</key>
			<integer>176</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001a007.png</key>
		<dict>
			<key>x</key>
			<integer>206</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001a008.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>35</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001c000.png</key>
		<dict>
			<key>x</key>
			<integer>29</integer>
			<key>y</key>
			<integer>35</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001c001.png</key>
		<dict>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>35</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001c002.png</key>
		<dict>
			<key>x</key>
			<integer>123</integer>
			<key>y</key>
			<integer>35</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001c003.png</key>
		<dict>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>35</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001c004.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>73</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001c005.png</key>
		<dict>
			<key>x</key>
			<integer>48</integer>
			<key>y</key>
			<integer>73</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001c006.png</key>
		<dict>
			<key>x</key>
			<integer>95</integer>
			<key>y</key>
			<integer>73</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001c007.png</key>
		<dict>
			<key>x</key>
			<integer>143</integer>
			<key>y</key>
			<integer>73</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001c008.png</key>
		<dict>
			<key>x</key>
			<integer>191</integer>
			<key>y</key>
			<integer>73</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001e000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>113</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001e001.png</key>
		<dict>
			<key>x</key>
			<integer>29</integer>
			<key>y</key>
			<integer>113</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001e002.png</key>
		<dict>
			<key>x</key>
			<integer>57</integer>
			<key>y</key>
			<integer>113</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001e003.png</key>
		<dict>
			<key>x</key>
			<integer>87</integer>
			<key>y</key>
			<integer>113</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001e004.png</key>
		<dict>
			<key>x</key>
			<integer>117</integer>
			<key>y</key>
			<integer>113</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001e005.png</key>
		<dict>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>113</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001e006.png</key>
		<dict>
			<key>x</key>
			<integer>176</integer>
			<key>y</key>
			<integer>113</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001e007.png</key>
		<dict>
			<key>x</key>
			<integer>206</integer>
			<key>y</key>
			<integer>113</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010001e008.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>MS010002e000.png</key>
		<dict>
			<key>x</key>
			<integer>29</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
	</dict>
</dict>
</plist>