<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>MS018001a000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-3.5</real>
		</dict>
		<key>MS018001a001.png</key>
		<dict>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-3.5</real>
		</dict>
		<key>MS018001a002.png</key>
		<dict>
			<key>x</key>
			<integer>63</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-3.5</real>
		</dict>
		<key>MS018001a003.png</key>
		<dict>
			<key>x</key>
			<integer>94</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-3.5</real>
		</dict>
		<key>MS018001a004.png</key>
		<dict>
			<key>x</key>
			<integer>125</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS018001a005.png</key>
		<dict>
			<key>x</key>
			<integer>156</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
		</dict>
		<key>MS018001a006.png</key>
		<dict>
			<key>x</key>
			<integer>188</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
		</dict>
		<key>MS018001a007.png</key>
		<dict>
			<key>x</key>
			<integer>220</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-3.5</real>
		</dict>
		<key>MS018001a008.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>37</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS018001c000.png</key>
		<dict>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>37</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS018001c001.png</key>
		<dict>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>37</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS018001c002.png</key>
		<dict>
			<key>x</key>
			<integer>89</integer>
			<key>y</key>
			<integer>37</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS018001c003.png</key>
		<dict>
			<key>x</key>
			<integer>117</integer>
			<key>y</key>
			<integer>37</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS018001c004.png</key>
		<dict>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>37</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS018001c005.png</key>
		<dict>
			<key>x</key>
			<integer>173</integer>
			<key>y</key>
			<integer>37</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-4.5</real>
		</dict>
		<key>MS018001c006.png</key>
		<dict>
			<key>x</key>
			<integer>201</integer>
			<key>y</key>
			<integer>37</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4.5</real>
		</dict>
		<key>MS018001c007.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>74</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-4.5</real>
		</dict>
		<key>MS018001c008.png</key>
		<dict>
			<key>x</key>
			<integer>29</integer>
			<key>y</key>
			<integer>74</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS018001e000.png</key>
		<dict>
			<key>x</key>
			<integer>57</integer>
			<key>y</key>
			<integer>74</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-5</real>
		</dict>
		<key>MS018001e001.png</key>
		<dict>
			<key>x</key>
			<integer>87</integer>
			<key>y</key>
			<integer>74</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
		</dict>
		<key>MS018001e002.png</key>
		<dict>
			<key>x</key>
			<integer>118</integer>
			<key>y</key>
			<integer>74</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
		</dict>
		<key>MS018001e003.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>74</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
		</dict>
		<key>MS018001e004.png</key>
		<dict>
			<key>x</key>
			<integer>180</integer>
			<key>y</key>
			<integer>74</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
		</dict>
		<key>MS018001e005.png</key>
		<dict>
			<key>x</key>
			<integer>211</integer>
			<key>y</key>
			<integer>74</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-4.5</real>
		</dict>
		<key>MS018001e006.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>111</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4.5</real>
		</dict>
		<key>MS018001e007.png</key>
		<dict>
			<key>x</key>
			<integer>34</integer>
			<key>y</key>
			<integer>111</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
		</dict>
		<key>MS018001e008.png</key>
		<dict>
			<key>x</key>
			<integer>65</integer>
			<key>y</key>
			<integer>111</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-5</real>
		</dict>
		<key>MS018001g000.png</key>
		<dict>
			<key>x</key>
			<integer>95</integer>
			<key>y</key>
			<integer>111</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS018001g001.png</key>
		<dict>
			<key>x</key>
			<integer>124</integer>
			<key>y</key>
			<integer>111</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4.5</real>
		</dict>
		<key>MS018001g002.png</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>111</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4.5</real>
		</dict>
		<key>MS018001g003.png</key>
		<dict>
			<key>x</key>
			<integer>182</integer>
			<key>y</key>
			<integer>111</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4.5</real>
		</dict>
		<key>MS018001g004.png</key>
		<dict>
			<key>x</key>
			<integer>211</integer>
			<key>y</key>
			<integer>111</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS018001g005.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>148</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS018001g006.png</key>
		<dict>
			<key>x</key>
			<integer>30</integer>
			<key>y</key>
			<integer>148</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS018001g007.png</key>
		<dict>
			<key>x</key>
			<integer>59</integer>
			<key>y</key>
			<integer>148</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS018001g008.png</key>
		<dict>
			<key>x</key>
			<integer>88</integer>
			<key>y</key>
			<integer>148</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
		</dict>
		<key>MS018002e000.png</key>
		<dict>
			<key>x</key>
			<integer>117</integer>
			<key>y</key>
			<integer>148</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
		</dict>
	</dict>
</dict>
</plist>