<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>NPC005001a000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-40.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001a001.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-39.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001a002.png</key>
		<dict>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-38.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001a003.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-38.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001a004.png</key>
		<dict>
			<key>x</key>
			<integer>218</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-39.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001a005.png</key>
		<dict>
			<key>x</key>
			<integer>273</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-39.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001a006.png</key>
		<dict>
			<key>x</key>
			<integer>328</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-37.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001a007.png</key>
		<dict>
			<key>x</key>
			<integer>382</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-36.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001a008.png</key>
		<dict>
			<key>x</key>
			<integer>435</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-37.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001a009.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-40</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001c000.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-35.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001c001.png</key>
		<dict>
			<key>x</key>
			<integer>95</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-34.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001c002.png</key>
		<dict>
			<key>x</key>
			<integer>134</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-33.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001c003.png</key>
		<dict>
			<key>x</key>
			<integer>173</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-34</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001c004.png</key>
		<dict>
			<key>x</key>
			<integer>213</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-35</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001c005.png</key>
		<dict>
			<key>x</key>
			<integer>252</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-35.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001c006.png</key>
		<dict>
			<key>x</key>
			<integer>291</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-34.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001c007.png</key>
		<dict>
			<key>x</key>
			<integer>330</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-33.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001c008.png</key>
		<dict>
			<key>x</key>
			<integer>369</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-34</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001c009.png</key>
		<dict>
			<key>x</key>
			<integer>408</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-35</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001e000.png</key>
		<dict>
			<key>x</key>
			<integer>447</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-36.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001e001.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>139</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-36.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001e002.png</key>
		<dict>
			<key>x</key>
			<integer>55</integer>
			<key>y</key>
			<integer>139</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-36</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001e003.png</key>
		<dict>
			<key>x</key>
			<integer>109</integer>
			<key>y</key>
			<integer>139</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-36</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001e004.png</key>
		<dict>
			<key>x</key>
			<integer>163</integer>
			<key>y</key>
			<integer>139</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-36.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001e005.png</key>
		<dict>
			<key>x</key>
			<integer>218</integer>
			<key>y</key>
			<integer>139</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-36</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001e006.png</key>
		<dict>
			<key>x</key>
			<integer>273</integer>
			<key>y</key>
			<integer>139</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-34.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001e007.png</key>
		<dict>
			<key>x</key>
			<integer>326</integer>
			<key>y</key>
			<integer>139</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-33.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001e008.png</key>
		<dict>
			<key>x</key>
			<integer>379</integer>
			<key>y</key>
			<integer>139</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-34.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001e009.png</key>
		<dict>
			<key>x</key>
			<integer>433</integer>
			<key>y</key>
			<integer>139</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-36</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001g000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>209</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-41</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001g001.png</key>
		<dict>
			<key>x</key>
			<integer>40</integer>
			<key>y</key>
			<integer>209</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-39.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001g002.png</key>
		<dict>
			<key>x</key>
			<integer>79</integer>
			<key>y</key>
			<integer>209</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-39</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001g003.png</key>
		<dict>
			<key>x</key>
			<integer>118</integer>
			<key>y</key>
			<integer>209</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-39</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001g004.png</key>
		<dict>
			<key>x</key>
			<integer>157</integer>
			<key>y</key>
			<integer>209</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-40.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001g005.png</key>
		<dict>
			<key>x</key>
			<integer>197</integer>
			<key>y</key>
			<integer>209</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-41</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001g006.png</key>
		<dict>
			<key>x</key>
			<integer>236</integer>
			<key>y</key>
			<integer>209</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-38.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001g007.png</key>
		<dict>
			<key>x</key>
			<integer>275</integer>
			<key>y</key>
			<integer>209</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-37.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001g008.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>209</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-39</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005001g009.png</key>
		<dict>
			<key>x</key>
			<integer>352</integer>
			<key>y</key>
			<integer>209</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-40.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005002e000.png</key>
		<dict>
			<key>x</key>
			<integer>390</integer>
			<key>y</key>
			<integer>209</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005003a000.png</key>
		<dict>
			<key>x</key>
			<integer>445</integer>
			<key>y</key>
			<integer>209</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005003a001.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>273</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005003a002.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>273</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005003a003.png</key>
		<dict>
			<key>x</key>
			<integer>111</integer>
			<key>y</key>
			<integer>273</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005003c000.png</key>
		<dict>
			<key>x</key>
			<integer>166</integer>
			<key>y</key>
			<integer>273</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-35.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005003c001.png</key>
		<dict>
			<key>x</key>
			<integer>204</integer>
			<key>y</key>
			<integer>273</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-35.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005003c002.png</key>
		<dict>
			<key>x</key>
			<integer>244</integer>
			<key>y</key>
			<integer>273</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-35.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005003c003.png</key>
		<dict>
			<key>x</key>
			<integer>283</integer>
			<key>y</key>
			<integer>273</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-35.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005003e000.png</key>
		<dict>
			<key>x</key>
			<integer>322</integer>
			<key>y</key>
			<integer>273</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-39</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005003e001.png</key>
		<dict>
			<key>x</key>
			<integer>377</integer>
			<key>y</key>
			<integer>273</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-39.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005003e002.png</key>
		<dict>
			<key>x</key>
			<integer>432</integer>
			<key>y</key>
			<integer>273</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-39.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005003e003.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>341</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-39</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005003g000.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>341</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-41</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005003g001.png</key>
		<dict>
			<key>x</key>
			<integer>95</integer>
			<key>y</key>
			<integer>341</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-41</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005003g002.png</key>
		<dict>
			<key>x</key>
			<integer>134</integer>
			<key>y</key>
			<integer>341</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-41</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC005003g003.png</key>
		<dict>
			<key>x</key>
			<integer>173</integer>
			<key>y</key>
			<integer>341</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-41</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
	</dict>
</dict>
</plist>
