<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>NPC002001a000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-40.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001a001.png</key>
		<dict>
			<key>x</key>
			<integer>58</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-39</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001a002.png</key>
		<dict>
			<key>x</key>
			<integer>116</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-37.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001a003.png</key>
		<dict>
			<key>x</key>
			<integer>173</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001a004.png</key>
		<dict>
			<key>x</key>
			<integer>231</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-39.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001a005.png</key>
		<dict>
			<key>x</key>
			<integer>289</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-40</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001a006.png</key>
		<dict>
			<key>x</key>
			<integer>346</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001a007.png</key>
		<dict>
			<key>x</key>
			<integer>403</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>55</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-36.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001a008.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001a009.png</key>
		<dict>
			<key>x</key>
			<integer>58</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-40</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001c000.png</key>
		<dict>
			<key>x</key>
			<integer>116</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-37.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001c001.png</key>
		<dict>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-36.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001c002.png</key>
		<dict>
			<key>x</key>
			<integer>194</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-35.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001c003.png</key>
		<dict>
			<key>x</key>
			<integer>233</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-36</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001c004.png</key>
		<dict>
			<key>x</key>
			<integer>272</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-37</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001c005.png</key>
		<dict>
			<key>x</key>
			<integer>311</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001c006.png</key>
		<dict>
			<key>x</key>
			<integer>350</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-37</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001c007.png</key>
		<dict>
			<key>x</key>
			<integer>389</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-36</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001c008.png</key>
		<dict>
			<key>x</key>
			<integer>428</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-36.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001c009.png</key>
		<dict>
			<key>x</key>
			<integer>467</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-37.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001e000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>135</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-39.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001e001.png</key>
		<dict>
			<key>x</key>
			<integer>59</integer>
			<key>y</key>
			<integer>135</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-38.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001e002.png</key>
		<dict>
			<key>x</key>
			<integer>117</integer>
			<key>y</key>
			<integer>135</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001e003.png</key>
		<dict>
			<key>x</key>
			<integer>174</integer>
			<key>y</key>
			<integer>135</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001e004.png</key>
		<dict>
			<key>x</key>
			<integer>232</integer>
			<key>y</key>
			<integer>135</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-39</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001e005.png</key>
		<dict>
			<key>x</key>
			<integer>290</integer>
			<key>y</key>
			<integer>135</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-39.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001e006.png</key>
		<dict>
			<key>x</key>
			<integer>347</integer>
			<key>y</key>
			<integer>135</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-38.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001e007.png</key>
		<dict>
			<key>x</key>
			<integer>404</integer>
			<key>y</key>
			<integer>135</integer>
			<key>width</key>
			<integer>55</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001e008.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>196</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-38.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001e009.png</key>
		<dict>
			<key>x</key>
			<integer>59</integer>
			<key>y</key>
			<integer>196</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-39.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001g000.png</key>
		<dict>
			<key>x</key>
			<integer>117</integer>
			<key>y</key>
			<integer>196</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001g001.png</key>
		<dict>
			<key>x</key>
			<integer>156</integer>
			<key>y</key>
			<integer>196</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-36.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001g002.png</key>
		<dict>
			<key>x</key>
			<integer>195</integer>
			<key>y</key>
			<integer>196</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-36</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001g003.png</key>
		<dict>
			<key>x</key>
			<integer>234</integer>
			<key>y</key>
			<integer>196</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-36</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001g004.png</key>
		<dict>
			<key>x</key>
			<integer>273</integer>
			<key>y</key>
			<integer>196</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-37</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001g005.png</key>
		<dict>
			<key>x</key>
			<integer>312</integer>
			<key>y</key>
			<integer>196</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-37.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001g006.png</key>
		<dict>
			<key>x</key>
			<integer>351</integer>
			<key>y</key>
			<integer>196</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-36.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001g007.png</key>
		<dict>
			<key>x</key>
			<integer>390</integer>
			<key>y</key>
			<integer>196</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-36</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001g008.png</key>
		<dict>
			<key>x</key>
			<integer>429</integer>
			<key>y</key>
			<integer>196</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-36.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002001g009.png</key>
		<dict>
			<key>x</key>
			<integer>469</integer>
			<key>y</key>
			<integer>196</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-37.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002002e000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>263</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-41.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002003a000.png</key>
		<dict>
			<key>x</key>
			<integer>59</integer>
			<key>y</key>
			<integer>263</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-38.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002003a001.png</key>
		<dict>
			<key>x</key>
			<integer>117</integer>
			<key>y</key>
			<integer>263</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-38.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002003a002.png</key>
		<dict>
			<key>x</key>
			<integer>175</integer>
			<key>y</key>
			<integer>263</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-38.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002003a003.png</key>
		<dict>
			<key>x</key>
			<integer>233</integer>
			<key>y</key>
			<integer>263</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-38.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002003c000.png</key>
		<dict>
			<key>x</key>
			<integer>291</integer>
			<key>y</key>
			<integer>263</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-39</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002003c001.png</key>
		<dict>
			<key>x</key>
			<integer>331</integer>
			<key>y</key>
			<integer>263</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-39</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002003c002.png</key>
		<dict>
			<key>x</key>
			<integer>371</integer>
			<key>y</key>
			<integer>263</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-39</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002003c003.png</key>
		<dict>
			<key>x</key>
			<integer>410</integer>
			<key>y</key>
			<integer>263</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-39</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002003e000.png</key>
		<dict>
			<key>x</key>
			<integer>450</integer>
			<key>y</key>
			<integer>263</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-42.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002003e001.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>325</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-43</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002003e002.png</key>
		<dict>
			<key>x</key>
			<integer>59</integer>
			<key>y</key>
			<integer>325</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-43</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002003e003.png</key>
		<dict>
			<key>x</key>
			<integer>117</integer>
			<key>y</key>
			<integer>325</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-42.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002003g000.png</key>
		<dict>
			<key>x</key>
			<integer>175</integer>
			<key>y</key>
			<integer>325</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-39</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002003g001.png</key>
		<dict>
			<key>x</key>
			<integer>215</integer>
			<key>y</key>
			<integer>325</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-39</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002003g002.png</key>
		<dict>
			<key>x</key>
			<integer>255</integer>
			<key>y</key>
			<integer>325</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-39</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>NPC002003g003.png</key>
		<dict>
			<key>x</key>
			<integer>295</integer>
			<key>y</key>
			<integer>325</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-39</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
	</dict>
</dict>
</plist>
