<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>NPC010001a000.png</key>
		<dict>
			<key>x</key>
			<real>252</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>50</real>
			<key>height</key>
			<real>54</real>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-37</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010001a001.png</key>
		<dict>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>62</real>
			<key>width</key>
			<real>48</real>
			<key>height</key>
			<real>58</real>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-36</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010001a002.png</key>
		<dict>
			<key>x</key>
			<real>200</real>
			<key>y</key>
			<real>56</real>
			<key>width</key>
			<real>52</real>
			<key>height</key>
			<real>54</real>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-37</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010001a003.png</key>
		<dict>
			<key>x</key>
			<real>148</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>48</real>
			<key>height</key>
			<real>58</real>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-36</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010001c000.png</key>
		<dict>
			<key>x</key>
			<real>50</real>
			<key>y</key>
			<real>62</real>
			<key>width</key>
			<real>48</real>
			<key>height</key>
			<real>60</real>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>-34</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010001c001.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>68</real>
			<key>width</key>
			<real>48</real>
			<key>height</key>
			<real>64</real>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-32</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010001c002.png</key>
		<dict>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>46</real>
			<key>height</key>
			<real>60</real>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>-34</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010001c003.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>48</real>
			<key>height</key>
			<real>66</real>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-32</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010001e000.png</key>
		<dict>
			<key>x</key>
			<real>254</real>
			<key>y</key>
			<real>56</real>
			<key>width</key>
			<real>50</real>
			<key>height</key>
			<real>52</real>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-37</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010001e001.png</key>
		<dict>
			<key>x</key>
			<real>50</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>48</real>
			<key>height</key>
			<real>60</real>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-34</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010001e002.png</key>
		<dict>
			<key>x</key>
			<real>200</real>
			<key>y</key>
			<real>112</real>
			<key>width</key>
			<real>52</real>
			<key>height</key>
			<real>52</real>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-37</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010001e003.png</key>
		<dict>
			<key>x</key>
			<real>52</real>
			<key>y</key>
			<real>124</real>
			<key>width</key>
			<real>48</real>
			<key>height</key>
			<real>60</real>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-34</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010002e000.png</key>
		<dict>
			<key>x</key>
			<real>102</real>
			<key>y</key>
			<real>122</real>
			<key>width</key>
			<real>44</real>
			<key>height</key>
			<real>58</real>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-35</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010003a000.png</key>
		<dict>
			<key>x</key>
			<real>198</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>52</real>
			<key>height</key>
			<real>54</real>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010003a001.png</key>
		<dict>
			<key>x</key>
			<real>150</real>
			<key>y</key>
			<real>60</real>
			<key>width</key>
			<real>48</real>
			<key>height</key>
			<real>56</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-37</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010003a002.png</key>
		<dict>
			<key>x</key>
			<real>148</real>
			<key>y</key>
			<real>180</real>
			<key>width</key>
			<real>52</real>
			<key>height</key>
			<real>54</real>
			<key>offsetX</key>
			<real>-5</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010003a003.png</key>
		<dict>
			<key>x</key>
			<real>148</real>
			<key>y</key>
			<real>122</real>
			<key>width</key>
			<real>50</real>
			<key>height</key>
			<real>56</real>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-37</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010003c000.png</key>
		<dict>
			<key>x</key>
			<real>52</real>
			<key>y</key>
			<real>186</real>
			<key>width</key>
			<real>46</real>
			<key>height</key>
			<real>60</real>
			<key>offsetX</key>
			<integer>7</integer>
			<key>offsetY</key>
			<real>-34</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010003c001.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>134</real>
			<key>width</key>
			<real>50</real>
			<key>height</key>
			<real>60</real>
			<key>offsetX</key>
			<integer>3</integer>
			<key>offsetY</key>
			<real>-34</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010003c002.png</key>
		<dict>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>186</real>
			<key>width</key>
			<real>46</real>
			<key>height</key>
			<real>60</real>
			<key>offsetX</key>
			<integer>7</integer>
			<key>offsetY</key>
			<real>-34</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010003c003.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>196</real>
			<key>width</key>
			<real>50</real>
			<key>height</key>
			<real>60</real>
			<key>offsetX</key>
			<integer>3</integer>
			<key>offsetY</key>
			<real>-34</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010003e000.png</key>
		<dict>
			<key>x</key>
			<real>254</real>
			<key>y</key>
			<real>110</real>
			<key>width</key>
			<real>52</real>
			<key>height</key>
			<real>50</real>
			<key>offsetX</key>
			<real>-5</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010003e001.png</key>
		<dict>
			<key>x</key>
			<real>304</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>48</real>
			<key>height</key>
			<real>52</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010003e002.png</key>
		<dict>
			<key>x</key>
			<real>306</real>
			<key>y</key>
			<real>54</real>
			<key>width</key>
			<real>52</real>
			<key>height</key>
			<real>50</real>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
		<key>NPC010003e003.png</key>
		<dict>
			<key>x</key>
			<real>202</real>
			<key>y</key>
			<real>166</real>
			<key>width</key>
			<real>50</real>
			<key>height</key>
			<real>52</real>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-38</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>240</real>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
</dict>
</plist>
