<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>PREZ004e000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{26,54}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{69,449},{26,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ002e000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{26,64}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{1,1},{26,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001a001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{24,62}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{1,29},{24,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001a002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{24,62}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{65,31},{24,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001a003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{24,62}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{1,55},{24,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001a004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{24,62}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{65,57},{24,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001a005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{24,62}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{1,81},{24,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001a006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{24,62}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{65,83},{24,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001a007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{24,62}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{1,107},{24,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001a000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{24,62}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{65,109},{24,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001c001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{28,60}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{67,1},{28,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001c002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{32,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{1,391},{32,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001c003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{28,60}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{1,185},{28,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001c004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{28,60}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{63,187},{28,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001c005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{28,60}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{1,215},{28,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001c006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{32,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{1,425},{32,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>PREZ001c007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{28,60}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{63,217},{28,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001c000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{28,60}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{1,245},{28,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001e001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,60}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{63,337},{24,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001e002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,62}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{1,133},{24,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001e003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,60}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{63,363},{24,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001e004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{24,62}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{65,135},{24,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001e005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,60}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{1,365},{24,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001e006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,62}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{1,159},{24,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001e007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,60}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{63,389},{24,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001e000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{24,62}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{65,161},{24,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001g001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{28,60}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{63,247},{28,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001g002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{32,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{35,425},{32,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>PREZ001g003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{28,60}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{1,275},{28,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001g004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{28,60}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{63,277},{28,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001g005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{28,60}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{1,305},{28,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001g006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{32,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{69,415},{32,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001g007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{28,60}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{63,307},{28,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>PREZ001g000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{28,60}</string>
			<key>spriteSourceSize</key>
			<string>{56,80}</string>
			<key>textureRect</key>
			<string>{{1,335},{28,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>PREZ.png</string>
		<key>size</key>
		<string>{128,484}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cbab8979d5c63df7a0dd70682a863a47:97a774360d189c7021db64ec0ff85f15:ad7262d9e93c081781685c6dbad49dfd$</string>
		<key>textureFileName</key>
		<string>PREZ.png</string>
	</dict>
</dict>
</plist>
