<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>RICHLADY001a000.png</key>
		<dict>
			<key>x</key>
			<integer>43</integer>
			<key>y</key>
			<integer>322</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>RICHLADY001a001.png</key>
		<dict>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>239</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>RICHLADY001a002.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>322</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>RICHLADY001a003.png</key>
		<dict>
			<key>x</key>
			<integer>43</integer>
			<key>y</key>
			<integer>239</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>RICHLADY001c000.png</key>
		<dict>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>158</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>RICHLADY001c001.png</key>
		<dict>
			<key>x</key>
			<integer>45</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>43</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>RICHLADY001c002.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>239</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>RICHLADY001c003.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>43</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>RICHLADY001e000.png</key>
		<dict>
			<key>x</key>
			<integer>43</integer>
			<key>y</key>
			<integer>158</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>RICHLADY001e001.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>RICHLADY001e002.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>158</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>RICHLADY001e003.png</key>
		<dict>
			<key>x</key>
			<integer>86</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>RICHLADY002e000.png</key>
		<dict>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>322</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>RICHLADY004e000.png</key>
		<dict>
			<key>x</key>
			<integer>43</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-14.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
	</dict>
</dict>
</plist>
