<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>SMAN001a000.png</key>
		<dict>
			<key>x</key>
			<integer>263</integer>
			<key>y</key>
			<integer>94</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>SMAN001a001.png</key>
		<dict>
			<key>x</key>
			<integer>220</integer>
			<key>y</key>
			<integer>94</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>SMAN001a002.png</key>
		<dict>
			<key>x</key>
			<integer>177</integer>
			<key>y</key>
			<integer>94</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>SMAN001a003.png</key>
		<dict>
			<key>x</key>
			<integer>134</integer>
			<key>y</key>
			<integer>94</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>SMAN001c000.png</key>
		<dict>
			<key>x</key>
			<integer>91</integer>
			<key>y</key>
			<integer>94</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>SMAN001c001.png</key>
		<dict>
			<key>x</key>
			<integer>44</integer>
			<key>y</key>
			<integer>94</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>SMAN001c002.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>94</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>SMAN001c003.png</key>
		<dict>
			<key>x</key>
			<integer>439</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>SMAN001e000.png</key>
		<dict>
			<key>x</key>
			<integer>396</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>SMAN001e001.png</key>
		<dict>
			<key>x</key>
			<integer>353</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>SMAN001e002.png</key>
		<dict>
			<key>x</key>
			<integer>310</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>SMAN001e003.png</key>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>SMAN001g000.png</key>
		<dict>
			<key>x</key>
			<integer>224</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>SMAN001g001.png</key>
		<dict>
			<key>x</key>
			<integer>176</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>SMAN001g002.png</key>
		<dict>
			<key>x</key>
			<integer>133</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>SMAN001g003.png</key>
		<dict>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>SMAN002e000.png</key>
		<dict>
			<key>x</key>
			<integer>43</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>SMAN004e000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-13</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
	</dict>
</dict>
</plist>
