<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>WOMAN001001a000.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001a001.png</key>
		<dict>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001a002.png</key>
		<dict>
			<key>x</key>
			<integer>63</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001a003.png</key>
		<dict>
			<key>x</key>
			<integer>94</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001a004.png</key>
		<dict>
			<key>x</key>
			<integer>125</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001a005.png</key>
		<dict>
			<key>x</key>
			<integer>156</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001a006.png</key>
		<dict>
			<key>x</key>
			<integer>187</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001a007.png</key>
		<dict>
			<key>x</key>
			<integer>218</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001c000.png</key>
		<dict>
			<key>x</key>
			<integer>249</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001c001.png</key>
		<dict>
			<key>x</key>
			<integer>283</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001c002.png</key>
		<dict>
			<key>x</key>
			<integer>328</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001c003.png</key>
		<dict>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001c004.png</key>
		<dict>
			<key>x</key>
			<integer>399</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001c005.png</key>
		<dict>
			<key>x</key>
			<integer>432</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001c006.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>77</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001c007.png</key>
		<dict>
			<key>x</key>
			<integer>38</integer>
			<key>y</key>
			<integer>77</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001e000.png</key>
		<dict>
			<key>x</key>
			<integer>71</integer>
			<key>y</key>
			<integer>77</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001e001.png</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>77</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001e002.png</key>
		<dict>
			<key>x</key>
			<integer>133</integer>
			<key>y</key>
			<integer>77</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001e003.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>77</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001e004.png</key>
		<dict>
			<key>x</key>
			<integer>195</integer>
			<key>y</key>
			<integer>77</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001e005.png</key>
		<dict>
			<key>x</key>
			<integer>226</integer>
			<key>y</key>
			<integer>77</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001e006.png</key>
		<dict>
			<key>x</key>
			<integer>257</integer>
			<key>y</key>
			<integer>77</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001001e007.png</key>
		<dict>
			<key>x</key>
			<integer>288</integer>
			<key>y</key>
			<integer>77</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001002e000.png</key>
		<dict>
			<key>x</key>
			<integer>319</integer>
			<key>y</key>
			<integer>77</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>WOMAN001004e000.png</key>
		<dict>
			<key>x</key>
			<integer>352</integer>
			<key>y</key>
			<integer>77</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-10.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
	</dict>
</dict>
</plist>