<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ZOMBIE001a000.png</key>
		<dict>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalHeight</key>
			<integer>111</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>52</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>176</integer>
		</dict>
		<key>ZOMBIE001a001.png</key>
		<dict>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalHeight</key>
			<integer>111</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>58</integer>
			<key>x</key>
			<integer>105</integer>
			<key>y</key>
			<integer>176</integer>
		</dict>
		<key>ZOMBIE001a002.png</key>
		<dict>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalHeight</key>
			<integer>111</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>204</integer>
			<key>y</key>
			<integer>93</integer>
		</dict>
		<key>ZOMBIE001a003.png</key>
		<dict>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalHeight</key>
			<integer>111</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>50</integer>
			<key>x</key>
			<integer>54</integer>
			<key>y</key>
			<integer>176</integer>
		</dict>
		<key>ZOMBIE001c000.png</key>
		<dict>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>6.5</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalHeight</key>
			<integer>111</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>65</integer>
			<key>x</key>
			<integer>188</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>ZOMBIE001c001.png</key>
		<dict>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalHeight</key>
			<integer>111</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>49</integer>
			<key>x</key>
			<integer>41</integer>
			<key>y</key>
			<integer>93</integer>
		</dict>
		<key>ZOMBIE001c002.png</key>
		<dict>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalHeight</key>
			<integer>111</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>50</integer>
			<key>x</key>
			<integer>137</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>ZOMBIE001c003.png</key>
		<dict>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalHeight</key>
			<integer>111</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>39</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>93</integer>
		</dict>
		<key>ZOMBIE001e000.png</key>
		<dict>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalHeight</key>
			<integer>111</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>44</integer>
			<key>x</key>
			<integer>92</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>ZOMBIE001e001.png</key>
		<dict>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>-8</real>
			<key>originalHeight</key>
			<integer>111</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>57</integer>
			<key>x</key>
			<integer>91</integer>
			<key>y</key>
			<integer>93</integer>
		</dict>
		<key>ZOMBIE001e002.png</key>
		<dict>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalHeight</key>
			<integer>111</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>45</integer>
			<key>x</key>
			<integer>46</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>ZOMBIE001e003.png</key>
		<dict>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalHeight</key>
			<integer>111</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>54</integer>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>93</integer>
		</dict>
		<key>ZOMBIE002e000.png</key>
		<dict>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalHeight</key>
			<integer>111</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>44</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>ZOMBIE004e000.png</key>
		<dict>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>8</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalHeight</key>
			<integer>111</integer>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>width</key>
			<integer>42</integer>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>176</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>256</integer>
		<key>width</key>
		<integer>256</integer>
	</dict>
</dict>
</plist>
